// тайтлы
.title {
	font-family: @bold;
	font-size: 56px;
	margin: 0;
	text-transform: uppercase;
	text-align: center;
}
.subtitle {
	font-family: @boldg1;
	font-size: 36px;
	font-size: 32px;
	margin: 0;
	&._sizeM {
		font-size: 30px;
	}
}
// кнопки
.btn {
	color: #fff;
    padding: 11px 22px 12px 22px;
    text-decoration: none;
    display: inline-block;
    border: none;
    font-size: 18px;
    box-sizing: border-box;
    font-family: 'San Francisco Bold G1';
    background: #16a96e;
    position: relative;
    z-index: 3;
    &:before {
    	content: '';
    	position: absolute;
    	bottom: 0;
    	left: 0;
    	width: 100%;
    	height: 2px;
    	z-index: -1;
    	background: #107c51;
    	-webkit-transition: height .4s ease;
    	-moz-transition: height .4s ease;
    	-ms-transition: height .4s ease;
    	-o-transition: height .4s ease;
    	transition: height .4s ease;
    }
    &:hover {
    	&:before {
    		height: 100%;
    	}
    }
    // кнопка в каталоге товаров
    &._catalog-btn {
    	padding: 6px 9px 7px 28px;
    	font-size: 14px;
    	float: right;
    	margin: 7px 0 0 0;
    	&:after {
    		content: '';
    		position: absolute;
    		background: url(../img/cart.png) 0 0 no-repeat;
    		width: 16px;
    		height: 16px;
    		top: 5px;
    		left: 7px;
    		-webkit-transition: left .4s ease;
    		-moz-transition: left .4s ease;
    		-ms-transition: left .4s ease;
    		-o-transition: left .4s ease;
    		transition: left .4s ease;
    	}
    }
    // кнопка в товаре
    &._product-btn {
    	padding: 24px 25px 24px 53px;
    	margin: 2px 0 0 0;
    	font-size: 25px;
    	float: right;
    	font-family: @boldg1;
    	&:after {
    		content: '';
    		position: absolute;
    		background: url(../img/cart_big.png) 0 0 no-repeat;
    		width: 23px;
    		height: 23px;
    		top: 28px;
    		left: 16px;
    		-webkit-transition: left .4s ease;
    		-moz-transition: left .4s ease;
    		-ms-transition: left .4s ease;
    		-o-transition: left .4s ease;
    		transition: left .4s ease;
    	}
    	&:before {
    		height: 3px;
    	}
    	&:hover {
    		&:after {
			    left: 13px;
    		}
    		&:before {
    			height: 100%;
    		}
    	}
    }
    // кнопка в модальных
    &._modal-btn {
    	margin-top: 10px;
    }
    // кнопка в личном кабинете
    &._user-btn {
    	font-size: 25px;
    	margin-top: 11px;
    	padding: 23px 45px;
    	&:before {
    		height: 3px;
    	}
    	&:hover {
    		&:before {
    			height: 100%;
    		}
    	}
    }
    // кнопка при занесенном товаре в корзине
    &._in-cart {
    	background: rgba(255, 156, 15, 0.72);
    	padding: 6px 8px 7px 8px;
    	margin: 7px 0 0 0;
    	font-size: 14px;
    	&:before {
    		content: '';
		    position: absolute;
		    bottom: 0;
		    left: 0;
		    width: 100%;
		    height: 2px;
		    z-index: -1;
		    background: #ff9c0f;
		    -webkit-transition: height .4s ease;
		    -moz-transition: height .4s ease;
		    -ms-transition: height .4s ease;
		    -o-transition: height .4s ease;
		    transition: height .4s ease;
    	}
    	&:after {
    		display: none;
    	}
    	&:hover {
    		&:before {
    			height: 100%;
    		}
    	}
    }
}

// видео блок на главной
.video {
	&__block {
		z-index: -1;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	&__block-play {
		position: absolute;
		top: 0;
		left: 0;
		width: 115%;
	}
	&__block-wrap {
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
	// блоки на старнице видео
	&__section {
		> p {
			font-family: @regularg3;
			line-height: 27px;
			font-size: 16px;
		}
		a {
			color: #16a96e;
			&:hover {
				text-decoration: none;
			}
		}
		iframe {
			width: 100%;
			height: 400px;
		}
	}
	&__title {
		text-transform: uppercase;
		font-family: @boldg1;
		font-size: 18px;
		line-height: 25px;
		margin: 25px 0 15px 0;
	}
	&__item {
		margin-bottom: 90px;
		p {
			font-size: 16px;
			line-height: 27px;
			font-family: @regularg1;
		}
	}
	&__btn-wrap {
		background: #e6e6e6;
		margin: 40px 0;
		padding: 15px 0;
		text-align: center;
	}
	&__btn {
		color: #16a96e;
		display: inline-block;
		border: none;
		font-size: 18px;
		font-family: @light;
		border-bottom: 1px dotted;
		text-decoration: none;
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
}
//  блок поиска под шапкой на главной
.search {
	&__block {
		margin: 27px 0 0 10.4%;
		display: inline-block;
		vertical-align: top;
		position: relative;
		width: 26.67%;
	}
	&__input {
		color: #a5a5a5;
		border-radius: @radius;
		background: transparent;
		height: 32px;
		box-sizing: border-box;
		border: 1px solid #a5a5a5;
		padding: 0 30px 3px 10px;
		font-family: @regularg3;
		width: 100%;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&::-webkit-input-placeholder {color:#a5a5a5;}
		&::-moz-placeholder          {color:#a5a5a5;}
		&:-moz-placeholder           {color:#a5a5a5;}
		&:-ms-input-placeholder      {color:#a5a5a5;}
		&:focus {
			box-shadow: 0 0 10px #a5a5a5;
		}
		&._main {
			color: #fff;
			border: 1px solid #fff;
			&::-webkit-input-placeholder {color:#fff;}
			&::-moz-placeholder          {color:#fff;}
			&:-moz-placeholder           {color:#fff;}
			&:-ms-input-placeholder      {color:#fff;}
			&:focus {
				box-shadow: 0 0 10px #fff;
			}
		}
	}
	&__submit {
		position: absolute;
		border: none;
		background: url(../img/magnifier.png) 0 0 no-repeat;
		width: 16px;
		height: 16px;
		top: 7px;
	    right: 10px;
	    &._main {
	    	background: url(../img/magnifier_main.png) 0 0 no-repeat;
	    }
	}
}
// блок с телефонами
.phones {
	&__block {
		float: right;
		margin: 11px 0 0 0;
	}
	&__block-inner {
		display: inline-block;
		margin-left: 36px;
		vertical-align: top;
	}
	&__block-city {
		color: #4c4c4c;
		font-family: @regularg1;
		font-size: 13px;
		margin: 0 0 4px 0;
		&._main {
			color: #fff;
		}
	}
	&__block-phone {
		display: block;
		color: #4c4c4c;
		letter-spacing: 0.6px;
		text-decoration: none;
		font-size: 18px;
		font-family: @semibold;
		margin: 0 0 7px 0;
		&._main {
			color: #fff;
		}
	}
	&__block-callback {
		color: #a5a5a5;
		font-size: 13px;
		display: inline-block;
		text-decoration: none;
		font-family: @regularg3;
		line-height: 16px;
		border-bottom: 1px dotted;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover {
			border-bottom: 1px dotted transparent;
		}
	}
}
// главный текст
.main {
	&__text {
		font-family: @regularg3;
		color: #fff;
		text-align: center;
		font-size: 40px;
		margin: 99px 0 152px 0;
		line-height: 69px;
	}
	&__link {
		font-family: @heavy;
		color: #fff;
		font-size: 50%;
		display: inline-block;
		line-height: 20px;
		text-decoration: none;
		.bottom-line {
			border-bottom: 1px solid #88878a;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
	&__content {
		margin-left: @sidebar-width+80px;
		.subtitle {
			margin-bottom: 31px;
		}
		&._no-sidebar {
			margin-left: 0;
		}
		> p {
			line-height: 27px;
			font-size: 16px;
			font-family: @regularg1;
			margin-bottom: 30px;
		}
	}
	&__section {
		overflow: hidden;
		margin-top: 43px;
	}
}
// блок с баннерами
.banners {
	&__block {
		display: -webkit-box; 
		display: -moz-box;   
		display: -ms-flexbox; 
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		flex-direction: row;
		-webkit-flex-direction: row;
		-webkit-align-items: flex-start;
		align-items: flex-start;
		&._direction-column {
			flex-direction: column;
			-webkit-flex-direction: column;
			-webkit-align-items: center;
			align-items: center;
			img {
				margin-bottom: 20px;
			}
		}
	}
	&__link {
		display: inline-block;
		max-width: 264px;
		margin-right: 15px;
		-webkit-transition: opacity 0.4s ease;
		-moz-transition: opacity 0.4s ease;
		-ms-transition: opacity 0.4s ease;
		-o-transition: opacity 0.4s ease;
		transition: opacity 0.4s ease;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			opacity: 0.8;
		}
	}
	&__img {
		width: 100%;
	}
}
//   каталог продукции на главной
.catalog {
	&__section {
		background: #f9f9f9 url(../img/main_catalog_bg.png);
		padding: 67px 0 30px 0;
		.title {
			margin-bottom: 43px;
		}
	}
	&__text {
		font-family: @light;
		font-size: 20px;
		line-height: 29px;
		margin: 0 0 54px 0;
		text-align: center;
	}
	&__cell-block {
		display: -webkit-box; 
		display: -moz-box;   
		display: -ms-flexbox; 
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	    justify-content: space-between;
	    -webkit-justify-content: space-between;
	    flex-direction: row;
	    -webkit-flex-direction: row;
	    align-items: flex-start;
	    -webkit-align-items: flex-start;
	}
	&__cell-link-wrap {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0;
		z-index: 16;
		width: 100%;
		padding: 0 30px;
		box-sizing: border-box;
		line-height: 50px;
	}
	&__cell {
		position: relative;
		text-align: center;
		// height: 200px;
		height: 190px;
		flex-basis: 33%;
		margin: 0 0px 30px 0;
		max-width: 360px;
		background-repeat: no-repeat;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:nth-child(1),
		&:nth-child(7),
		&:nth-child(11),
		&:nth-child(17), 
		&:nth-child(21), 
		&:nth-child(27), 
		&:nth-child(31) {
			max-width: 750px;
			flex-basis: 66.33%;
		}
		&:hover {
			-moz-transform: scale(1.15);
			-webkit-transform: scale(1.15);
			-o-transform: scale(1.15);
			-ms-transform: scale(1.15);
			transform: scale(1.15);
			z-index: 20;
			.catalog__cell-inner-block {
				z-index: 12;
				height: auto;
				opacity: 11;
			}
			.catalog__cell-link-wrap {
				z-index: 14;
			}
		}
	}
	&__cell-link {
		color: #fff;
		position: relative;
		z-index: 1;
		font-size: 118%;
		text-decoration: none;
		text-transform: uppercase;
		font-family: @boldg1;
		.bottom-line {
			border-bottom: 1px solid #88878a;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
	&__cell-inner-block {
		z-index: 2;
		position: relative;
		margin: 0 auto;
		opacity: 0;
		height: 0;
		padding-top: 160px;
		padding-bottom: 30px;
		overflow: hidden;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		text-align: center;
		background-size: cover!important;
		background-repeat: no-repeat;
		.catalog__cell-inner-bg {
			z-index: -1;
			width: 100%;
			height: 100%;
			position: absolute;
			top: -30px;
			left: -30px;
			background-size: cover!important;
			background-repeat: no-repeat!important;
			background-position: center;
			filter: blur(4px) brightness(.5);
			-webkit-filter: blur(4px) brightness(.5);
			-moz-filter: blur(4px) brightness(.5);
			-o-filter: blur(4px) brightness(.5);
			-ms-filter: blur(4px) brightness(.5);
			-moz-transform: scale(1.6);
			-webkit-transform: scale(1.6);
			-o-transform: scale(1.6);
			-ms-transform: scale(1.6);
			transform: scale(1.6);
		}
	}
	&__cell-bg{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.4);
		z-index: 0;
	}
	&__cell-title {
		font-size: 30px;
		color: #fff;
		line-height: 45px;
		margin: 0 0 20px;
		text-transform: uppercase;
	}
	&__cell-inner-link {
		display: block;
		color: #fff;
		font-size: 18px;
		font-family: @regularg3;
		margin-bottom: 16px;
		&:hover {
			text-decoration: none;
		}
	}
}
// превью новости на главной
.preview-news {
	&__section {
		padding: 42px 0 64px 0;
	}
	&__main-title {
		margin: 0 0 40px 0;
		font-size: 40px;
		text-transform: uppercase;
		font-family: @boldg1;
	}
	&__title-link {
		color: #000;
		font-size: 36px;
		font-family: @boldg1;
		text-transform: uppercase;
		text-decoration: none;
	}
	&__block {
		display: -webkit-box; 
		display: -moz-box;   
		display: -ms-flexbox; 
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		justify-content: space-between;
		-webkit-justify-content: space-between;
		flex-direction: row;
		-webkit-flex-direction: row;
		align-items: flex-start;
		-webkit-align-items: flex-start;
	}
	&__block-inner {
		flex-basis: 33%;
		max-width: 360px;
	}
	&__title {
		font-family: @medium;
		margin: 19px 0 5px;
		font-size: 20px;
		line-height: 26px;
		a {
			color: #000;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
				color: #16a96e;
			}
		}
	}
	&__date {
		font-family: @light;
		color: #1f2534;
		display: inline-block;
		font-size: 12px;
		margin: 0 11px 0 0;
	}
	&__text {
		margin: 0;
		color: #1f2534;
		font-size: 16px;
		line-height: 26px;
		font-family: @regular;
	}
}
// блок для диллеров на главной
.diller {
	&__section {
		background: #e6ecf0;
		padding: 74px 0 62px 0;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	&__certificate-block {
		float: right;
		text-align: center;
		margin: 0;
		width: 50%;
		display: inline-block;
	}
	&__certificate {
		display: inline-block;
		box-shadow: 0 0 7px #111;
		margin: 0 0 50px 10px;
		width: 22%;
		max-width: 129px;
		max-height: 177px;
	}
	&__button {
		border-radius: @radius;
		background: transparent;
		color: #909396;
		border: 1px solid #909396;
		font-family: @regular;
		padding: 9px 14px;
		font-size: 13px;
		text-decoration: none;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover {
			border: 1px solid #267757;
			color: #267757;
			box-shadow: 0px 0px 5px #267757;
		}
		position: relative;
		&:after {
			content: "";
		    position: absolute;
		    top: 0;
		    left: -2em;
		    width: 160%;
		    height: 100%;
		    background: linear-gradient(to left, rgba(230,236,240,0), rgba(230,236,240,0.8), rgba(230,236,240,0)) no-repeat -2em 0;
		    background-size: 3em 100%;
		    transform: skewX(-50deg);
		}
		&:hover:after {
			transition: 0.8s linear;
			background-position: 100% 0%;
		}
	}
	&__text-block-inner {
		margin-bottom: 58px;
	}
	&__text-block {
		width: 46%;
		display: inline-block;
	}
	&__title {
		font-size: 30px;
		font-family: @boldg1;
		margin: 0 0 18px;
	}
	&__text {
		font-size: 16px;
		font-family: @light;
		margin: 0 0 10px;
		line-height: 26px;
	}
}
// блок описания по каждой категории
.description {
	&__section {
		background: #e6ecf0;
		padding: 53px 0;
		.subtitle {
			margin-bottom: 38px;
			line-height: 40px;
		}
	}
	&__block {
		padding-left: @sidebar-width+80px;
		font-size: 16px;
	    font-family: 'San Francisco Light';
	    line-height: 30px;
	    margin-bottom: 29px;
	}
	&__text {
		font-size: 16px;
		font-family: @light;
		line-height: 30px;
		margin-bottom: 29px;
	}
}
// хлебные крошки
.breadcrumbs {
	&__block {
		margin-bottom: 17px;
	}
	&__list {
		margin: 0;
		padding: 0;
	}
	&__item {
		position: relative;
		display: inline-block;
		padding-right: 20px;
		&:before {
			content: '';
			position: absolute;
			background: url(../img/breadcrumbs_arrow.png) 0 0 no-repeat;
			width: 9px;
			height: 7px;
			top: 5px;
			right: 4px;
		}
		&:last-child {
			&:before {
				display: none;
			}
		}
	}
	&__link {
		color: #868686;
		text-decoration: none;
		font-family: @light;
		display: inline-block;
		border-bottom: 1px solid #eaeaea;
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
	&__current {
		color: #868686;
		font-family: @light;
	}
}
// сайтбар каталога 
.catalog-sidebar {
	&__block {
		float: left;
		width: @sidebar-width;
		margin-bottom: 50px;
	}
	&__wrap {
		width: 100%;
		box-sizing: border-box;
		padding: 24px 21px;
		background: #e0e1e2;
		margin-bottom: 30px;
		/*position: relative;
		z-index: 2;*/
	}
	&__list {
		padding: 0;
		margin: 0;
	}
	&__item {
		margin-bottom: 25px;
		&.active {
			padding: 26px 21px 14px 21px;
			background: #16a96e;
			margin: -3px -21px 23px -21px;
			& > .catalog-sidebar__link {
				cursor: default;
				display: block;
				margin: -15px 0 -5px 0;
				height: 21px;
				color: #fff;
				position: relative;
				&:after {
					content: '';
					position: absolute;
					top: -11px;
					right: -40px;
					background: url(../img/light_green_treangle.png) 0 0 no-repeat;
					width: 21px;
					height: 41px;
					background-size: 100% 100%;
				}
				.bottom-line {
					border-bottom: none;
				}
			}
		}
	}
	&__link {
		font-family: @boldg1;
		color: #000;
		font-size: 66%;
		text-decoration: none;
		.bottom-line {
			border-bottom: 1px solid #9c9d9e;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
	&__link-current {
		color: #fff;
		font-family: @boldg1;
		font-size: 18px;
		display: block;
		margin-bottom: 14px;
	}
	&__sub-list {
		padding: 0 0 0 19px;
		margin: 0;
	}
	&__sub-item {
		position: relative;
		margin-bottom: 17px;
		z-index: 2;
		&.active {
			padding: 10px 0px;
			.catalog-sidebar__sub-link {
				cursor: default;
				.bottom-line {
					border-bottom: 1px solid transparent;
				}
			}
			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -40px;
				background: url(../img/green_treangle.png) 0 0 no-repeat;
				width: 21px;
				height: 100%;
				background-size: 100% 100%;
			}
			&:before {
				content: '';
				z-index: 1;
				position: absolute;
				width: 124%;
				height: 100%;
				background: #149762;
				top: 0;
				left: -40px;
			}
		}
	}
	&__sub-link {
		font-family: @regular;
		color: #fff;
		font-size: 60%;
		position: relative;
		z-index: 2;
		text-decoration: none;
		.bottom-line {
			border-bottom: 1px solid #5cc39a;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
}
// блок каталога продуктов
.product {
	&__section {
		margin-bottom: 23px;
		display: -webkit-box; 
		display: -moz-box;   
		display: -ms-flexbox; 
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		align-items: flex-start; // если нужно что бы блоки были одной высоты поставить stretch
		-webkit-align-items: flex-start; // если нужно что бы блоки были одной высоты поставить stretch
	}
	&__block {
		border: 3px solid #d6d6d6;
		padding: 17px 5px;
		box-sizing: border-box;
		display: inline-block;
		width: 32%;
		flex-basis: 32%;
		vertical-align: top;
		margin: 0 2% 30px 0;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover {
			border: 3px solid #16a96e;
			box-shadow: 0px 0px 5px #16a96e;
		}
		&._widthS {
			flex-basis: 25%;
			&:nth-child(3n) {
				margin-right: 2%;
			}
			&:nth-child(0) {
				margin-right: 0;
			}
		}
		&:nth-child(3n) {
			margin-right: 0;
		}
	}
	&__article {
		font-family: @regular;
		color: #868686;
		margin: 0 0 13px;
	}
	&__image {
		max-height: 243px;
		display: block;
		margin: 0 auto 19px auto;
	}
	&__block-footer,
	&__block-body {
		padding: 0 5px;
	}
	&__block-body {
		margin-bottom: 10px;
	}
	&__link {
		color: #000;
		line-height: 24px;
		font-family: @boldg1;
		font-size: 50%;
		text-decoration: none;
		.bottom-line {
			border-bottom: 1px solid #a3a3a3;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
	&__buy-btn {
		color: #fff;
		padding: 16px 14px 17px 44px;
		margin: -33px 0 0 0;
		text-decoration: none;
		display: block;
		float: right;
		font-size: 18px;
		box-sizing: border-box;
		font-family: 'San Francisco Bold G1';
		background: #16a96e;
		position: relative;
		z-index: 3;
		&:after {
			content: '';
			position: absolute;
			background: url(../img/cart.png) 0 0 no-repeat;
			width: 16px;
			height: 16px;
			top: 18px;
			left: 16px;
			-webkit-transition: left 0.4s ease;
			-moz-transition: left 0.4s ease;
			-ms-transition: left 0.4s ease;
			-o-transition: left 0.4s ease;
			transition: left 0.4s ease;
		}
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			z-index: -1;
			background: #107c51;
			-webkit-transition: height 0.4s ease;
			-moz-transition: height 0.4s ease;
			-ms-transition: height 0.4s ease;
			-o-transition: height 0.4s ease;
			transition: height 0.4s ease;
		}
		&:hover {
			&:before {
				height: 100%;				
			}
			&:after {
				left: 13px;
			}
		}
	}
	&__price-block {
		color: #ff9c0f;
		font-family: @bold;
		font-size: 19px;
		position: relative;
		top: 10px;
	}
	&__price-text {
		font-size: 12px;
	}
	&__price {
		display: inline-block;
		margin: 0 0px 0 7px;
	}
	// блок категории
	&__category-item {
		border: 3px solid #d6d6d6;
		box-sizing: border-box;
		width: 100%;
		padding: 10px 24px;
		min-height: 185px;
		margin-bottom: 29px;
		position: relative;
		display: -webkit-box; 
		display: -moz-box;   
		display: -ms-flexbox; 
		display: -webkit-flex;
		display: flex;
	    align-items: center;
	    -webkit-align-items: center;
	    align-content: center;
	    -webkit-align-content: center;
	    -webkit-transition: all 0.4s ease;
	    -moz-transition: all 0.4s ease;
	    -ms-transition: all 0.4s ease;
	    -o-transition: all 0.4s ease;
	    transition: all 0.4s ease;
	    &:hover {
	    	border: 3px solid #16a96e;
	    	box-shadow: 0px 0px 5px #16a96e;
	    }
	}
	&__category-item-img-wrap {
		width: 180px;
		position: absolute;
		top: 0;
		left: 0;
		display: -webkit-box; 
		display: -moz-box;   
		display: -ms-flexbox; 
		display: -webkit-flex;
		display: flex;
		bottom: 0;
		right: 0;
		vertical-align: middle;
		align-items: center;
	}
	&__category-item-img {
		max-height: 150px;
		margin-left: 25px;
	}
	&__category-item-link {
		color: #000;
		line-height: 34px;
		text-decoration: none;
		.product__category-item-title {
			font-size: 110%;
			margin: 1.6em 0 1.6em 180px;
			font-family: @boldg1;
			.bottom-line {
				border-bottom: 2px solid #a3a3a3;
			}
		}
		&:hover {
			.product__category-item-title {
				.bottom-line {
					border-bottom: 2px solid transparent;
				}
			}
		}
	}
	// галерея товара 
	&__image-thumb-link {
		display: -webkit-box; 
		display: -moz-box;   
		display: -ms-flexbox; 
		display: -webkit-flex;
		display: flex;
		align-items: center;
		-webkit-align-items: center;
		border: 1px solid #dadada;
		vertical-align: top;
		width: 21.9%;
		height: 67px;
		margin: 0 0 8px 8px;
		-webkit-transition: opacity 0.4s ease;
		-moz-transition: opacity 0.4s ease;
		-ms-transition: opacity 0.4s ease;
		-o-transition: opacity 0.4s ease;
		transition: opacity 0.4s ease;
		&:hover {
			opacity: 0.8;
			border: 1px solid #16a96e;
			box-shadow: 0px 0px 3px #16a96e;
		}
		&.active {
			border: 1px solid #16a96e;
			box-shadow: 0px 0px 3px #16a96e;
		}
	}
	&__image-block {
		width: 46%;
		display: inline-block;
		vertical-align: top;
		margin-bottom: 51px;
	}
	&__image-thumbs-block {
		-webkit-flex-wrap: wrap;
		justify-content: center;
		-webkit-justify-content: center;
		display: -webkit-box; 
		display: -moz-box;   
		display: -ms-flexbox; 
		display: -webkit-flex;
		display: flex;
		margin-left: -8px;
	}
	// информация о товаре 
	&__info-block {
		vertical-align: top;
		display: inline-block;
		width: 49%;
		margin-left: 27px;
		margin-bottom: 51px;
	}
	&__info-article {
		margin: 0 0 17px;
		color: #868686;
		font-family: @regularg3;
	}
	&__info-text {
		margin: 0 0 14px;
		color: #494949;
		font-family: @regularg3;
	}
	&__price-section {
		margin: 30px 0 19px 0;
	}
	&__main-price {
		color: #000;
		margin: 0 0 11px;
		font-size: 28px;
		font-family: @boldg1;
		.rubl {
			color: #ff9c0f;
			font-weight: bold;
		}
	}
	&__wholesale-price {
		font-size: 20px;
		color: #494949;
		margin: 0 0 7px;
		font-family: @regularg3;
	}
	&__main-price-number {
		color: #ff9c0f; 
		display: inline-block;
		margin: 0 9px;
	}
	// блок формы с количеством
	&__form-block {
		background: #f9f9f9;
		box-sizing: border-box;
		padding: 19px;
		&:after {
			content: '';
			display: block;
			clear: both;
		}
		a.btn._in-cart {
			padding: 6px 12px 7px 12px;
			font-size: 19px;
			margin: 0 auto;
			display: block;
			float: none;
			max-width: 130px;
			text-align: center;
		}
	}
	&__quantity-block {
		width: 44%;
		float: left;
		display: inline-block;
	}
	&__quantity-label {
		font-size: 16px;
		font-family: @regularg3;
		margin: 0 0 8px;
		display: inline-block;
	}
	&__input {
		text-align: center;
		box-sizing: border-box;
		border: 3px solid #d6d6d6;
		font-size: 30px;
		font-family: @regularg3;
		height: 52px;
		width: 78px;
	}
	&__input-text {
		display: inline-block;
		margin-left: 10px;
		font-family: @regularg3;
		font-size: 20px;
	}
	//  блок технических характеристик
	&__specification-block {
		padding: 34px 0 78px 0;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 0;
			background-color: #f9f9f9;
			height: 100%;
			z-index: -1;
			width: 1000%;
			left: -500%;
		}
	}
	&__specification-tab-list {
		margin: -4px 0 43px 0;
		padding: 0;
	}
	&__specification-tab-item {
		display: inline-block;
		vertical-align: top;
		margin: 0 3.3% 16px 0;
	}
	&__specification-tab-link {
		font-size: 70%;
		color: #16a96e;
		font-family: @boldg1;
		text-decoration: none;
		.bottom-line {
			border-bottom: 1px dotted #16a96e;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
		&.active {
			color: #7e7e7e;
			cursor: default;
			.bottom-line {
				border-bottom: 1px solid transparent;
			}
		}
	}
	&__tab-block {
		display: none;
		overflow-x: auto;
		&.active {
			display: block;
		}
		table {
			width: 100%;
			td {
				padding: 8px;
				border: 1px solid #16a96e;
				p {
					line-height: normal;
					margin: 0;
				}
			}
		}
		p, ul li, ol li {
			font-size: 16px;
			font-family: 'San Francisco Light';
			line-height: 30px;
			position: relative;
		}
		ul li {
			&:before {
				content: '';
			    position: absolute;
			    background: #16a96e;
			    top: 12px;
			    left: -20px;
			    width: 6px;
			    height: 6px;
			    border-radius: 50%;
			}
		}
	}
	&__manual-block {
		margin: 70px 0 0 50px;
	}
	&__manual-link {
		position: relative;
		font-family: @semibold;
		color: #1f2534;
		font-size: 70%;
		text-decoration: none;
		&._pdf {
			&:before {
				content: '';
				position: absolute;
				background: url(../img/pdf.png) 0 0 no-repeat;
				width: 55px;
				height: 55px;
				top: -16px;
				left: -48px;
			}
		}
		&._rar {
			&:before {
				content: '';
				position: absolute;
				background: url(../img/rar.png) 0 0 no-repeat;
				width: 55px;
				height: 55px;
				top: -16px;
				left: -66px;
			}
		}
		&._zip {
			&:before {
				content: '';
				position: absolute;
				background: url(../img/zip.png) 0 0 no-repeat;
				width: 55px;
				height: 55px;
				top: -16px;
				left: -66px;
			}
		}
		&:hover {
			.bottom-line {
				border-bottom: 1px solid transparent;
			}
		}
		.bottom-line {
			border-bottom: 1px solid #bcbcbf;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
	&__manual-text {
		margin: 7px 0 0 0;
		color: #1f2534;
		font-family: @light;
	}
	// сопутствующие товары
	&__accompanying-block {
		padding: 35px 0;
	}
	&__extra-section {
		margin: 34px 0 0 0;
		display: -webkit-box; 
		display: -moz-box;   
		display: -ms-flexbox; 
		display: -webkit-flex;
		display: flex;
		// justify-content: space-between;
		// -webkit-justify-content: space-between;
		align-items: flex-start;
		-webkit-align-items: flex-start;
	}
}
//  модальные окна
.modal {
	&__window {
		display: none;
		width: 360px;
		background: #f3f3f3;
		box-sizing: border-box;
		padding: 16px;
		position: relative;
		z-index: 2;
	}
	&__header-block {
		border-bottom: 1px solid #15a96e;
		padding-bottom: 15px;
		margin-bottom: 21px;
	}
	&__header-title {
		font-family: @boldg1;
		font-size: 30px;
		display: inline-block;
		margin: 0;
		color: #000;
	}
	&__header-text {
		display: inline-block;
		margin: 0 15px 0 13px;
		font-family: @light;
		color: #787878;
		font-size: 12px;
	}
	&__header-link {
		border-bottom: 1px dotted;
		color: #555555;
		font-family: @regularg3;
		display: inline-block;
		line-height: 16px;
		font-size: 13px;
		text-decoration: none;
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
	&__textarea,
	&__input {
		border: 3px solid #d7d7d7;
		width: 100%;
		font-size: 13px;
		height: 46px;
		line-height: 46px;
		background: transparent;
		margin-bottom: 8px;
		padding: 0 17px;
		box-sizing: border-box;
		color: #000;
		font-family: @light;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&::-webkit-input-placeholder {color:#000;}
		&::-moz-placeholder          {color:#000;}
		&:-moz-placeholder           {color:#000;}
		&:-ms-input-placeholder      {color:#000;}
		&:focus {
			box-shadow: 0px 0px 5px #16a96e;
			border: 3px solid #16a96e;
		}
		&._sizeL {
			font-size: 16px;
			margin-bottom: 15px;
			&::-webkit-input-placeholder {color:#bdbdbd;}
			&::-moz-placeholder          {color:#bdbdbd;}
			&:-moz-placeholder           {color:#bdbdbd;}
			&:-ms-input-placeholder      {color:#bdbdbd;}
		}
		&._captcha {
			width: 50%;
			display: block;
		}
	}
	&__captcha {
		display: block;
		margin: 0 0 10px 0;
	}
	&__textarea {
		height: auto;
		resize: none;
	}
	&__remember-link {
		color: #16a96e;
		font-family: @regularg3;
		text-decoration: none;
		border-bottom: 1px dotted;
		line-height: 16px;
		display: inline-block;
		font-size: 13px;
		margin-left: 20px;
		&:hover {
			border-bottom: 1px solid transparent;
		}
	}
	&__header-city {
		margin: 5px 0 -5px 0;
		font-family: @regularg1;
	}
}
// блок форм в личных данных кабинета
.form {
	&__block {
		width: 47%;
		vertical-align: top;
		padding-right: 5%;
		display: inline-block;
		&:last-child {
			padding-right: 0;
		}
	}
	&__label {
		font-size: 16px;
		font-family: @light;
		display: block;
		margin: -3px 0 11px 0;
	}

}
// блок-таблица с заказом
.cart {
	&__table-block {
		margin: -16px 0 100px 8%;
	}
	&__table {
		width: 100%;
		margin-bottom: 20px;
		thead {
			.cart__table-item {
				&:last-child {
					width: 40%;
				}
			}
		}
		tbody {
			.cart__table-item {
				&:first-child {
					width: 11%;
					padding-right: 14px;
				}
				&:nth-child(2) {
					width: 50%;
				}
				&:last-child {
					text-align: right;
					vertical-align: top;
					padding-top: 13px;
				}
			}
		}
		tfoot {
			.cart__table-line {
				border: none!important;
			}
		}
	}
	&__table-item {
		vertical-align: top;
		padding: 10px 0;
	}
	&__table-line {
		border-top: 3px solid #f2f3f3;
		&:last-child {
			border-bottom: 3px solid #f2f3f3;
		}
	}
	&__table-img-wrap {
		width: 55px;
		height: 45px;
		border: 3px solid #d6d6d6;
		display: -webkit-box; 
		display: -moz-box;   
		display: -ms-flexbox; 
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}
	&__table-img {
		display: block;
		margin: auto;
	}
	&__table-product-title-link {
		text-decoration: none;
	}
	&__table-product-title {
		color: #000;
		font-size: 11px;
		font-family: @boldg1;
		margin: 5px 0px 7px 0;
		text-transform: uppercase;
		-webkit-transition: color 0.4s ease;
		-moz-transition: color 0.4s ease;
		-ms-transition: color 0.4s ease;
		-o-transition: color 0.4s ease;
		transition: color 0.4s ease;
		&:hover {
			color: #16a96e;
		}
	}
	&__table-product-article {
		margin: 0;
		font-size: 12px;
		color: #868686;
		font-family: @regularg3;
	}
	&__table-product-price {
		display: inline-block;
		margin: 0;
		color: #8a8a8a;
		font-family: @medium;
		font-size: 18px;
	}
	&__table-product-quantity {
		display: inline-block;
		margin: 0;
		font-family: @light;
		font-size: 16px;
		color: #8a8a8a;
		padding-right: 10px;
		margin-right: 10px;
		border-right: 2px solid #cecece;
	}
	&__table-total-text {
		color: #000;
		font-family: @regular;
		font-size: 16px;
		margin: 0 0 11px;
	}
	&__table-total-price {
		color: #ff9c0f;
		font-size: 28px;
		margin: 0;
		font-family: @boldg1;
	}
	&__table-wrap {
		border: 3px solid #d6d6d6;
		padding: 10px 7%;
		margin-bottom: 25px;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover {
			border: 3px solid #16a96e;
			box-shadow: 0px 0px 5px #16a96e;
		}
		tbody {
			display: none;
		}
	}
	&__table-order-number {
		color: #000;
		font-family: @boldg1;
		font-size: 32px;
		margin: 0;
	}
	&__table-order-bill {
		font-family: @regular;
		margin: 0;
		font-size: 20px;
	}
	&__table-order-date {
		margin-left: 5px;
		display: inline-block;
	}
	&__table-show-btn {
		color: #16a96e;
		font-size: 20px;
		display: inline-block;
		line-height: 22px;
		border-bottom: 1px dotted #16a96e;
		font-family: @regularg3;
		text-decoration: none;
		&:hover {
			border-bottom: 1px solid transparent;
		}
		&.active {
			color: #dddddd;
			border-bottom: 1px dotted #dddddd;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
}
// заказ продукта в корзине
.order {
	&__block {
		position: relative;
		padding-bottom: 65px;
		&:before {
			content: '';
			position: absolute;
			background: #f9f9f9;
			width: 1000%;
			height: 100%;
			top: 59px;
			left: -200%;
			z-index: -1;
		}
	}
	&__table {
		width: 100%;
		margin: -23px 0 50px 0;
		thead {
			tr {
				border: none!important;
			}
		}
		tbody {
			.order__table-item {
				&:first-child {
					width: 7%;
					padding-right: 15px;
				}
				&._item {
					width: 20%;
					padding-right: 2%;
				}
				&._quantity {
					width: 12%;
					padding-left: 44px;
					vertical-align: middle;
				}
				&._price {
					width: 21%;
					vertical-align: middle;
					text-align: center;
				}
				&._delete {
					vertical-align: middle;
				}
				&._weight,
				&._base-price,
				&._volume,
				&._category-price,
				&._measure {
					width: 8%;
					text-align: center;
				}
			}
		}
		tfoot {
			td {
				&.order__table-item {
					vertical-align: middle;
					padding: 0;
				}
			}
		}
	}
	&__table-title {
		font-weight: normal;
		font-family: @regularg3;
		padding: 10px 5px 17px 5px;
		font-size: 14px;
	}
	&__table-line {
		border-top: 3px solid #e7e7e8;
		&:last-child {
			border-bottom: 3px solid #e7e7e8;
		}
	}
	&__table-item {
		// vertical-align: top;
		padding: 22px 0;
	}
	&__table-img-wrap {
		// width: 65px;
		background: #fff;
		box-sizing: border-box;
		border: 3px solid #d6d6d6;
		display: -webkit-box; 
		display: -moz-box;   
		display: -ms-flexbox; 
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		align-items: center;
	}
	&__table-img {
		display: block;
		margin: auto;
	}
	&__table-product-title-link {
		color: #000;
		text-decoration: none;
		-webkit-transition: color 0.4s ease;
		-moz-transition: color 0.4s ease;
		-ms-transition: color 0.4s ease;
		-o-transition: color 0.4s ease;
		transition: color 0.4s ease;
		&:hover {
			color: #16a96e;
		}
	}
	&__table-item-price,
	&__table-product-text {
		font-size: 12px;
	}
	&__table-product-title {
		font-size: 12px;
	    text-transform: uppercase;
	    font-family: @boldg1;
	    margin: 0 0 0px 0;
	    line-height: 18px;
	}
	&__table-product-article {
		margin: 0;
		font-family: @regularg3;
		font-size: 12px;
		color: #868686;
	}
	&__table-quantity-changer {
		color: #15a96e;
		font-size: 28px;
		background: none;
		border: none;
		&:first-child {
			margin-left: -28px;
		}
		&._bottom {
			position: relative;
			top: 3px;
		}
	}
	&__table-quantity-input {
		width: 45px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		color: #000;
		font-size: 18px;
		padding: 0 3px;
		box-sizing: border-box;
		background: #fff;
		border: 3px solid #d6d6d6;
	}
	&__table-quantity-val {
		color: #000;
		font-size: 20px;
		font-family: @regularg3;
		display: inline-block;
		margin-left: 10px;
	}
	&__table-line-price {
		font-size: 24px;
		color: #8a8a8a;
		font-family: @medium;
		margin: 0;
		display: inline-block;
		& + .rubl {
			font-size: 24px;
			color: #8a8a8a;
		}
	}
	&__table-total-weight,
	&__table-total-volume,
	&__table-total-price {
		display: inline-block;
		font-size: 28px;
		color: #ff9c0f;
		margin: 0;
		font-family: @boldg1;
		& + .rubl {
			color: #ff9c0f;
			font-size: 28px;
		}
	}
	&__table-delete {
		width: 15px;
		height: 15px;
		position: relative;
		cursor: pointer;
		margin: 17px 0 0 0;
		&:before {
			content: '';
			position: absolute;
			background: #16a96e;
			width: 100%;
			height: 2px;
			top: 0;
			left: 0;
			-moz-transform: rotate(45deg);
			-webkit-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
		}
		&:after {
			content: '';
			position: absolute;
			background: #16a96e;
			width: 100%;
			height: 2px;
			top: 0;
			left: 0;
			-moz-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			-webkit-transition: all 0.4s ease;
			-moz-transition: all 0.4s ease;
			-ms-transition: all 0.4s ease;
			-o-transition: all 0.4s ease;
			transition: all 0.4s ease;
		}
		&:hover {
			&:after {
				-moz-transform: rotate(135deg);
				-webkit-transform: rotate(135deg);
				-o-transform: rotate(135deg);
				-ms-transform: rotate(135deg);
				transform: rotate(135deg);
			}
			&:before {
				-moz-transform: rotate(-135deg);
				-webkit-transform: rotate(-135deg);
				-o-transform: rotate(-135deg);
				-ms-transform: rotate(-135deg);
				transform: rotate(-135deg);
			}
		}
	}
	&__table-back-link {
		color: #4c4c4c;
		border: 3px solid #d6d6d6;
		font-family: @boldg1;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		background: transparent;
		padding: 13px 11px;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover {
			border: 3px solid #15a96e;
			background: #15a96e;
			color: #fff;
		}
	}
	&__table-foot-text {
		font-family: @regularg3;
		font-size: 16px;
		text-align: right;
		margin: 9px 0;
	}
	//  блок оформления 
	&__formalization {
		&-section {
			display: -webkit-box; 
			display: -moz-box;   
			display: -ms-flexbox; 
			display: -webkit-flex;
			display: flex;
			-webkit-justify-content: space-between;
			justify-content: space-between;
			-webkit-align-items: baseline;
			align-items: baseline;
			margin: 41px 0;
		}
		&-block {
			flex-basis: 32%;
			width: 32%;
			// margin-right: 2%;
			vertical-align: top;
			&:last-child {
				margin-right: 0;
			}
			&-title-img {
				margin: 0px 5px 0 0;
				position: relative;
				top: 4px;
			}
			&-title {
				letter-spacing: 1px;
				font-family: @light;
				font-size: 24px;
				margin: 0 0 19px 0;
				display: inline-block;
			}
			&-textarea {
				resize:none;
				border: 3px solid #d6d6d6;
				padding: 10px;
				box-sizing: border-box;
				width: 100%;
				height: 170px;
				background: #fff;
				font-family: @lightitalic;
				color: #adadad;
				font-style: italic;
				-webkit-transition: all 0.4s ease;
				-moz-transition: all 0.4s ease;
				-ms-transition: all 0.4s ease;
				-o-transition: all 0.4s ease;
				transition: all 0.4s ease;
				&:focus {
					box-shadow: 0 0 5px #16a96e;
					border: 3px solid #16a96e;
				}
			}
			&-label {
				font-family: @light;
				font-size: 15px;
				cursor: pointer;
				display: block;
				padding-left: 24px;
				margin-bottom: 12px;
				opacity: 0.5;
				position: relative;
				-webkit-transition: opacity 0.4s ease;
				-moz-transition: opacity 0.4s ease;
				-ms-transition: opacity 0.4s ease;
				-o-transition: opacity 0.4s ease;
				transition: opacity 0.4s ease;
				&:before {
					content: '';
					position: absolute;
					background: #fff;
					width: 19px;
					border: 3px solid #d6d6d6;
					border-radius: 50%;
					height: 19px;
					box-sizing: border-box;
					top: 1px;
					left: 0;
				}
				&._sizeM {
					font-size: 14px;
					opacity: 1;
					line-height: 19px;
					margin-bottom: 7px;
				}

			}
			&-radio {
				display: none;
				&:checked + label {
					opacity: 1;
					font-family: @boldg1;
					&:after {
						content: '';
						position: absolute;
						background: #4b4b4b;
						width: 7px;
						height: 7px;
						border-radius: 50%;
						top: 7px;
						left: 6px;
					}
				}
				&:checked + label#self {
					& + .order__formalization-address {
						opacity: 1;
						&:before {
							z-index: -1;
						}
					}
				}
			}
		}
		&-address {
			opacity: 0.5;
			margin-left: 26px;
			-webkit-transition: opacity 0.4s ease;
			-moz-transition: opacity 0.4s ease;
			-ms-transition: opacity 0.4s ease;
			-o-transition: opacity 0.4s ease;
			transition: opacity 0.4s ease;
			position: relative;
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				background: transparent;
				top: 0;
				left: 0;
				z-index: 100;
			}
		}
		&-address-control {
			margin-bottom: 21px;
		}
		&-map-link {
			color: #16a96e;
			display: inline-block;
			font-size: 13px;
			margin-left: 25px;
			line-height: 15px;
			text-decoration: none;
			border-bottom: 1px dotted #16a96e;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
		&-text {
			font-size: 16px;
			margin: -1px 0 12px 0;
			font-family: @light;
		}
	}
}
// карта в заказе
.modal__map {
	display: none;
	padding: 10px;
	border-radius: @radius;
	background: #fff;
	width: 500px;
	height: 400px;
}
.ya_map {
	width: 100%;
	height: 100%;
}
// блок тегов 
.tags {
	&__block {
		margin: 40px 0 0 22px;
	}
	&__list {
		padding: 0;
		margin: 0 0 0 20px;
	}
	&__item {
		display: block;
		margin-bottom: 10px;
	}
	&__title {
		color: #d6d6d6;
		font-size: 20px;
		font-family: @boldg1;
		margin-bottom: 30px;
	}
	&__link {
		color: #fff;
		font-size: 12px;
		font-family: @light;
		position: relative;
		line-height: 14px;
		border-radius: 3px;
		display: inline-block;
		padding: 3px 6px 3px 17px;
		text-decoration: none;
		-webkit-transition: background 0.4s ease;
		-moz-transition: background 0.4s ease;
		-ms-transition: background 0.4s ease;
		-o-transition: background 0.4s ease;
		transition: background 0.4s ease;
		&._bg-green {
			background: #267757;
			&:hover {
				background: lighten(#267757, 5%);
			}
		}
		&._bg-blue {
			background: #4262c5;
			&:hover {
				background: lighten(#4262c5, 5%);
			}
		}
		&._bg-brown {
			background: #c59242;
			&:hover {
				background: lighten(#c59242, 5%);
			}
		}
		&._bg-pirple {
			background: #77266e;
			&:hover {
				background: lighten(#77266e, 5%);
			}
		}
		&._bg-dark-red {
			background: #c56742;
			&:hover {
				background: lighten(#c56742, 5%);
			}
		}
		&:before {
			content: '';
			position: absolute;
			top: 7px;
		    left: 6px;
			background: #fff;
			width: 6px;
			height: 6px;
			border-radius: 50%;
		}
	}
}
// страницы со статьями
.article {
	&__list-block{
		margin-bottom: 45px;
	}
	&__list-date{
		font-size: 12px;
		margin-right: 10px;
		font-family: @light;
	}
	&__list-title{
		font-size: 24px;
		margin: 10px 0 5px 0;
		font-family: @boldg1;
		a {
			color: #000;
			text-decoration: none;
			&:hover {
				color: #16a96e;
				text-decoration: underline;
			}
		}
	}
	&__list-preview{
		line-height: 27px;
		font-size: 16px;
		font-family: @regularg1;
		margin: 0;
	}
	&__block {
		font-family: @light;
		font-size: 16px;
		line-height: 27px;
		margin-bottom: 80px;
		img {
			display: block;
			margin: 30px auto;
		}
		ul, ol {
			padding: 0 0 0 30px;
			li {
				margin-bottom: 10px;
				position: relative;
			}
		}
		ul {
			li {
				&:before {
					content: '';
				    position: absolute;
				    top: 14px;
				    left: -27px;
				    width: 10px;
				    height: 1px;
				    background: #16a96e;
				}
			}
		}
	}
}
// старница контактов
.contact {
	&__title {
		font-size: 24px;
		font-family: @boldg1;
		text-transform: uppercase;
		margin: 0;
		line-height: 36px;
	}
	&__table {
		margin-top: 70px;
		width: 100%;
		td {
			width: 33%;
			padding-bottom: 80px;
			vertical-align: top;
			&:nth-child(2) {
				padding: 0 40px;
			}
			&:last-child{
				padding-left: 40px;
			}
		}
	}
	&__text {
		font-size: 16px;
		line-height: 27px;
		margin: 0;
		font-family: @regularg1;
	}
	&__phone {
		text-decoration: none;
		color: #000;
		font-family: @regularg1;
		font-size: 16px;
		margin: 10px 0 0;
		display: inline-block;
	}
	&__email {
		text-decoration: none;
		color: #000;
		font-family: @regularg1;
		font-size: 60%;
		margin: 5px 0 10px;
		display: inline-block;
		.bottom-line {
			border-bottom: 1px solid #b6b6b6;
			&:hover {
				border-bottom: 1px solid transparent;
			}
		}
	}
	&__note {
		font-size: 12px;
	}
	&__map-wrap {
		div {
			width: 100%;
			height: 200px;
		}
	}
}
//  блок сертификатов
.certificate {
	&__section {
		display: -webkit-box; 
		display: -moz-box;   
		display: -ms-flexbox; 
		display: -webkit-flex;
		display: flex;
		flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
	    justify-content: flex-start;
	    -webkit-justify-content: flex-start;
	    flex-direction: row;
	    -webkit-flex-direction: row;
	    align-items: stretch;
	    -webkit-align-items: stretch;
	}
	&__block {
	    flex-basis: 28%;
	    text-align: center;
	    -webkit-transition: all 0.4s ease;
	    -moz-transition: all 0.4s ease;
	    -ms-transition: all 0.4s ease;
	    -o-transition: all 0.4s ease;
	    transition: all 0.4s ease;
	    width: 28%;
	    margin-right: 8%;
	    margin-bottom: 40px;
	    &:nth-child(3n) {
	    	margin-right: 0;
	    }
	}
	&__img {
    	border: 3px solid #d6d6d6;
    	display: block;
    	-webkit-transition: all 0.4s ease;
    	-moz-transition: all 0.4s ease;
    	-ms-transition: all 0.4s ease;
    	-o-transition: all 0.4s ease;
    	transition: all 0.4s ease;
    	&:hover {
    		border: 3px solid #16a96e;
    		box-shadow: 0 0 5px #16a96e;
    	}
    }
}
// страница прайса 
.price {
	&__block {
		max-width: 500px;
		margin-bottom: 40px;
	}
}
// универстальный блок для проектов и производителей
.univ {
	&__block {
		&:after {
			content: '';
			display: block;
			clear: both;	
		}
	}
	&__img-wrap {
		float: left;
		margin: 0 20px 10px 0;
		max-width: 150px;
		box-sizing: border-box;
		padding: 15px;
		border: 3px solid #d6d6d6;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover {
			border: 3px solid #16a96e;
			box-shadow: 0 0 5px #16a96e;
		}
	}
	&__title {
		font-family: @boldg1;
		font-size: 24px;
		a {
			color: #000;
			text-decoration: none;
			&:hover {
				color: #16a96e;
				text-decoration: underline;
			}
		}
	}
	&__text {
		font-family: @regularg1;
		line-height: 24px;
		font-size: 16px;
		margin: 0 0 10px 0;
	}
}