.header {
	background: rgba(0, 0, 0, 0.6);
	padding: 20px 0;
	position: relative;
    z-index: 2;
	// блок с входом и корзиной в хедере
	&__user-block {
		float: right;
	}
	&__user-link {
		color: #fff;
		text-decoration: none;
		font-size: 12px;
		text-transform: uppercase;
		font-family: @boldg1;
		opacity: 0.7;
		margin-left: 75px;
		position: relative;
		-webkit-transition: opacity 0.4s ease;
		-moz-transition: opacity 0.4s ease;
		-ms-transition: opacity 0.4s ease;
		-o-transition: opacity 0.4s ease;
		transition: opacity 0.4s ease;
		&:before {
			content: '';
			position: absolute;
			background: url(../img/header_sprite.png) 0 0 no-repeat;
			width: 20px;
			height: 20px;
			top: -4px;
			left: -30px;
		}
		&:hover {
			opacity: 1;
		}
		&._cart {
			&:before {
				background-position: -31px 0px;
			}
		}
		&._enter {
			&:before {
				background-position: 4px 0px;
			}
		}
	}
	// главное меню
	&__menu-list {
		padding: 0;
		margin: 0;
	}
	&__menu-item {
		display: inline-block;
		margin-right: 2.2%;
		position: relative;
		z-index: 10;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			.header__drop-menu-wrap {
				display: block;
				z-index: -1;
			}
		}
	}
	&__menu-link {
		text-transform: uppercase;
		color: #fff;
		font-size: 15px;
		text-decoration: none;
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		display: inline-block;
		font-family: @boldg3;
		&.active,
		&:hover {
			color: darken(#fff, 10%)
		}
	}
	&__under-block {
		position: relative;
		margin: -58px 0 0 0;
		padding: 76px 0 27px 0;
	}
	// выпадающее меню
	&__drop-menu-wrap {
		position: absolute;
		top: 0;
		left: -15px;
		padding-top: 30px;
		width: 200px;
		display: none;
		&._index {
			.header__drop-menu {
				background: rgba(0, 0, 0, 0.85);
			}
			.header__drop-item {
				position: relative;
				&:before {
					content: '';
				    position: absolute;
				    bottom: -2px;
				    left: 24%;
				    right: 0;
				    width: 50%;
				    height: 1px;
				    background: rgba(255,255,255,0.5);
				}
				&:last-child {
					&:before {
						display: none;
					}
				}
			}
			.header__drop-link {
				color: #fff;
				&:hover {
					color: darken(#fff, 10%);
				}
			}
		}
	}
	&__drop-menu {
		left: 0;
		width: 100%;
		background: rgba(255, 255, 255, 0.85);
		padding: 10px;
		margin: 0;
	}
	&__drop-item {
		padding: 16px 6px ;
		position: relative;
		&:before {
			content: '';
		    position: absolute;
		    bottom: -2px;
		    left: 24%;
		    right: 0;
		    width: 50%;
		    height: 1px;
		    background: rgba(0,0,0,0.5);
		}
		&:last-child {
			&:before {
				display: none;
			}
		}
	}
	&__drop-link {
		text-transform: uppercase;
	    color: #000;
	    font-size: 15px;
	    text-decoration: none;
	    -webkit-transition: all .4s ease;
	    -moz-transition: all .4s ease;
	    -ms-transition: all .4s ease;
	    -o-transition: all .4s ease;
	    transition: all .4s ease;
	    display: inline-block;
	    font-family: @boldg3;
	    &.active,
	    &:hover {
	    	opacity: 0.8;
	    }
	}
}