@media (max-width: 1150px) {
	.header {
		&__menu-link {
			font-size: 13px;
		}
		&__menu-item {
			margin-right: 1.7%;
		}
		&__drop-menu-wrap {
			padding-top: 56px;
		}
	}
	.subtitle {
		&._sizeM {
			font-size: 24px;
		}
	}
}
@media (max-width: 1090px) {
	.search {
		&__block {
			margin: 27px 0 0 5.4%;
		}
	}
	.diller {
		&__certificate {
			width: 20%;
		}
	}
	.product {
		&__info-block {
			width: 48%;
		}
		&__image-thumb-link {
			width: 19.9%;
			height: 57px;
		}
		&__main-price-number {
			margin: 0;
			display: block;
		}
	}
}
@media (max-width: 1170px) {
	.product {
		&__block {
			// flex-basis: 48%;
			width: 48%;
			&:nth-child(2n) {
				margin-right: 0
			}
			&:nth-child(3n) {
				margin-right: 2%;
			}
			&._widthS {
				&:nth-child(2n) {
					margin-right: 2%
				}
			}
		}
		&__block-body {
			margin-bottom: 0;
		}
		&__quantity-label {
			margin-left: -22px;
		}
		&__quantity-block {
			display: block;
			float: none;
			margin-bottom: 15px;
			width: 100%;
		}
		&__form-block {
			text-align: center;
		}
	}
	.btn {
		&._product-btn {
			float: none;
		}
	}
	.footer {
		&__link-block {
			width: 80%;
		}
		&__link {
			font-size: 55%;
		}
	}
}
@media (max-width: 1200px) {
	.cart {
		&__table-order-number {
			font-size: 18px;
			margin-bottom: 12px;
		}
		&__table-order-date {
			font-size: 14px;
		}
		&__table-status-block {
			left: 220px;
		}
		&__table-total-price {
			font-size: 18px;
			margin: 19px 0 0 0;
		}
	}
}