extends _layout
block content
	.header__under-block
		.container-fluid
			.phones__block
				.phones__block-inner
					p.phones__block-city Москва
					a.phones__block-phone(href="tel:+78129981387") +7 (812) 998-13-87
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
				.phones__block-inner
					p.phones__block-city Санкт-Петербург
					a.phones__block-phone(href="tel:+78129811660") +7 (812) 981-16-60
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
			a.header__logo(href="/")
				img(src="img/logo_sub_page.png" alt="Site Logo")
			.search__block
				form.search__form(action="#" method="get")
					input.search__input(type="text" required placeholder="Поиск на сайте")
					button.search__submit(type="submit")
	.main__section
		.container-fluid
			.catalog-sidebar__block
				.catalog-sidebar__wrap
					ul.catalog-sidebar__list
						li.catalog-sidebar__item
							a.catalog-sidebar__link(href="#")
								span.bottom-line О компании
						li.catalog-sidebar__item
							a.catalog-sidebar__link(href="#")
								span.bottom-line Услуги
						li.catalog-sidebar__item
							a.catalog-sidebar__link(href="#")
								span.bottom-line Видео
						li.catalog-sidebar__item
							a.catalog-sidebar__link(href="#")
								span.bottom-line Статьи
						li.catalog-sidebar__item.active
							a.catalog-sidebar__link(href="#")
								span.bottom-line Сертификаты
						li.catalog-sidebar__item
							a.catalog-sidebar__link(href="#")
								span.bottom-line Проекты
						li.catalog-sidebar__item
							a.catalog-sidebar__link(href="#")
								span.bottom-line Вакансии
			.main__content
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							span.breadcrumbs__current Сертификаты
				h1.subtitle._sizeM Сертификаты
				.certificate__section
					.certificate__block
						a.fancybox(href="/img/content/certificate_b1.jpg" rel="certifacate_gallery")
							img.certificate__img(src="img/content/certificate_b1.jpg", alt="")
						p.certificate__title Дистрибьюторский сертификат
					.certificate__block
						a.fancybox(href="/img/content/certificate_b2.jpg" rel="certifacate_gallery")
							img.certificate__img(src="img/content/certificate_b2.jpg", alt="")
						p.certificate__title Сертификат соответствия
					.certificate__block
						a.fancybox(href="/img/content/certificate_b1.jpg" rel="certifacate_gallery")
							img.certificate__img(src="img/content/certificate_b1.jpg", alt="")
						p.certificate__title Информационное письмо
					.certificate__block
						a.fancybox(href="/img/content/certificate_b2.jpg" rel="certifacate_gallery")
							img.certificate__img(src="img/content/certificate_b2.jpg", alt="")
						p.certificate__title Какой то сертификат еще
					.certificate__block
						a.fancybox(href="/img/content/certificate_b1.jpg" rel="certifacate_gallery")
							img.certificate__img(src="img/content/certificate_b1.jpg", alt="")
						p.certificate__title Очень при очень важный сертификат
					.certificate__block
						a.fancybox(href="/img/content/certificate_b2.jpg" rel="certifacate_gallery")
							img.certificate__img(src="img/content/certificate_b2.jpg", alt="")
						p.certificate__title Сертификат о международном признании