extends _layout
block content
	.header__under-block
		.container-fluid
			.phones__block
				.phones__block-inner
					p.phones__block-city Москва
					a.phones__block-phone(href="tel:+78129981387") +7 (812) 998-13-87
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
				.phones__block-inner
					p.phones__block-city Санкт-Петербург
					a.phones__block-phone(href="tel:+78129811660") +7 (812) 981-16-60
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
			a.header__logo(href="/")
				img(src="img/logo_sub_page.png" alt="Site Logo")
			.search__block
				form.search__form(action="#" method="get")
					input.search__input(type="text" required placeholder="Поиск на сайте")
					button.search__submit(type="submit")
	.main__section
		.container-fluid
			.catalog-sidebar__block
				ul.catalog-sidebar__list
					li.catalog-sidebar__item
						a.catalog-sidebar__link(href="#")
							span.bottom-line Корзина
					li.catalog-sidebar__item.active
						a.catalog-sidebar__link(href="#")
							span.bottom-line Ваши данные
					li.catalog-sidebar__item
						a.catalog-sidebar__link(href="#")
							span.bottom-line История заказов
					li.catalog-sidebar__item
						a.catalog-sidebar__link(href="#")
							span.bottom-line Выйти
			.main__content
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Личный кабинет
						li.breadcrumbs__item
							span.breadcrumbs__current Ваши данные
				.form__block
					h2.subtitle._sizeM Данные профиля
					form(action="#" method="post")
						label.form__label Ваше имя:
						input.modal__input._sizeL(type="text" placeholder="Сергей")
						label.form__label Телефон:
						input.modal__input._sizeL.mask(type="text" placeholder="+7 812 999 88 77")
						label.form__label Электронная почта:
						input.modal__input._sizeL(type="email" placeholder="serge.egorov@prominvest.com")
						label.form__label Название компании:
						input.modal__input._sizeL(type="text" placeholder="Проинвест")
						label.form__label Место нахождения:
						input.modal__input._sizeL(type="text" placeholder="Пенза, Пензенская обл., Россия")
						.text-center
							button.btn._user-btn(type="submit") Сохранить
				.form__block
					h2.subtitle._sizeM Смена пароля
					form(action="#" method="post")
						label.form__label Текущий пароль:
						input.modal__input._sizeL(type="password")
						label.form__label Новый пароль
						input.modal__input._sizeL(type="password")
						label.form__label Еще раз новый пароль
						input.modal__input._sizeL(type="password")
						.text-center
							button.btn._user-btn(type="submit") Изменить