extends _layout
block content
	.header__under-block
		.container-fluid
			.phones__block
				.phones__block-inner
					p.phones__block-city Москва
					a.phones__block-phone(href="tel:+78129981387") +7 (812) 998-13-87
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
				.phones__block-inner
					p.phones__block-city Санкт-Петербург
					a.phones__block-phone(href="tel:+78129811660") +7 (812) 981-16-60
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
			a.header__logo(href="/")
				img(src="img/logo_sub_page.png" alt="Site Logo")
			.search__block
				form.search__form(action="#" method="get")
					input.search__input(type="text" required placeholder="Поиск на сайте")
					button.search__submit(type="submit")
	.main__section
		.container-fluid
			.main__content._no-sidebar
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Личный кабинет
						li.breadcrumbs__item
							span.breadcrumbs__current Проекты
				h1.subtitle._sizeM Проекты
				.univ__block
					a(href="#")
						.univ__img-wrap
							img.univ__img(src="img/content/category_bg_4.jpg", alt="")
					.univ__text-wrap
						h3.univ__title 
							a(href="#") Какой то заголовок
						p.univ__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, rerum.  Lorem ipsum dolor sit amet.
				.univ__block
					a(href="#")
						.univ__img-wrap
							img.univ__img(src="img/content/category_bg_3.jpg", alt="")
					.univ__text-wrap
						h3.univ__title 
							a(href="#") Какой то заголовок
						p.univ__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, rerum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, cum!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores voluptatum molestias, alias unde, assumenda quidem quisquam delectus accusamus quis, blanditiis atque iure modi necessitatibus. Blanditiis placeat eum obcaecati perspiciatis sint. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti nisi quaerat tenetur, unde tempora excepturi et nemo voluptate veritatis laboriosam debitis labore enim vero aut porro, temporibus magnam illo maiores!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi quo ipsam quod aliquam, laboriosam asperiores dicta, temporibus corrupti odio, accusantium dolorum fuga. Id, beatae ipsa quis ut eius! Tempora, temporibus.
				.univ__block
					a(href="#")
						.univ__img-wrap
							img.univ__img(src="img/content/category_bg_5.jpg", alt="")
					.univ__text-wrap
						h3.univ__title 
							a(href="#") Какой то заголовок
						p.univ__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, rerum. lorem10