extends _layout
block content
	.header__under-block
		.container-fluid
			.phones__block
				.phones__block-inner
					p.phones__block-city Москва
					a.phones__block-phone(href="tel:+78129981387") +7 (812) 998-13-87
					a.phones__block-callback(href="#") Запрос обратного звонка
				.phones__block-inner
					p.phones__block-city Санкт-Петербург
					a.phones__block-phone(href="tel:+78129811660") +7 (812) 981-16-60
					a.phones__block-callback(href="#") Запрос обратного звонка
			a.header__logo(href="/")
				img(src="img/logo_sub_page.png" alt="Site Logo")
			.search__block
				form.search__form(action="#" method="get")
					input.search__input(type="text" required placeholder="Поиск на сайте")
					button.search__submit(type="submit")
	.main__section
		.container-fluid
			.catalog-sidebar__block
				ul.catalog-sidebar__list
					li.catalog-sidebar__item
						a.catalog-sidebar__link(href="#")
							span.bottom-line Телекоммуникационные шкафы и стойки
					li.catalog-sidebar__item
						a.catalog-sidebar__link(href="#")
							span.bottom-line Оптический кабель
					li.catalog-sidebar__item.active
						span.catalog-sidebar__link-current(href="#") Кроссовое оборудование
						ul.catalog-sidebar__sub-list
							li.catalog-sidebar__sub-item
								a.catalog-sidebar__sub-link(href="#")
									span.bottom-line Кросс настенный FC/ST
							li.catalog-sidebar__sub-item
								a.catalog-sidebar__sub-link(href="#")
									span.bottom-line Кросс настенный FC/ST
							li.catalog-sidebar__sub-item
								a.catalog-sidebar__sub-link(href="#")
									span.bottom-line Кросс настенный FC/ST Кросс настенный FC/ST
							li.catalog-sidebar__sub-item
								a.catalog-sidebar__sub-link(href="#")
									span.bottom-line Кросс настенный FC/ST
							li.catalog-sidebar__sub-item
								a.catalog-sidebar__sub-link(href="#")
									span.bottom-line Кросс настенный FC/ST
							li.catalog-sidebar__sub-item
								a.catalog-sidebar__sub-link(href="#")
									span.bottom-line Кроссы Укомплектованные
					li.catalog-sidebar__item
						a.catalog-sidebar__link(href="#")
							span.bottom-line Муфта оптическая
					li.catalog-sidebar__item
						a.catalog-sidebar__link(href="#")
							span.bottom-line Оптические шнуры
					li.catalog-sidebar__item
						a.catalog-sidebar__link(href="#")
							span.bottom-line Оптические соединители
					li.catalog-sidebar__item
						a.catalog-sidebar__link(href="#")
							span.bottom-line Иструменты, Сплайс, КДЗС
					li.catalog-sidebar__item
						a.catalog-sidebar__link(href="#")
							span.bottom-line Кабельные сборки
					li.catalog-sidebar__item
						a.catalog-sidebar__link(href="#")
							span.bottom-line Решение GPON
					li.catalog-sidebar__item
						a.catalog-sidebar__link(href="#")
							span.bottom-line Оптические разветвители
			.main__content
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							span.breadcrumbs__current Кроссовое оборудование
				h1.subtitle Кроссовое оборудование
				.product__section
					.product__category-item
						a.product__category-item-link(href="#")
							.product__category-item-img-wrap
								img.product__category-item-img(src="img/content/product_1.jpg", alt="")
							h2.product__category-item-title 
								span.bottom-line Кросс Настенный FC/ST Кросс Настенный FC/ST Кросс Настенный FC/ST
					.product__category-item
						a.product__category-item-link(href="#")
							.product__category-item-img-wrap
								img.product__category-item-img(src="img/content/product_1.jpg", alt="")
							h2.product__category-item-title 
								span.bottom-line Кросс Настенный FC/ST
					.product__category-item
						a.product__category-item-link(href="#")
							.product__category-item-img-wrap
								img.product__category-item-img(src="img/content/product_1.jpg", alt="")
							h2.product__category-item-title 
								span.bottom-line Кросс Настенный FC/ST Кросс Настенный
					.product__category-item
						a.product__category-item-link(href="#")
							.product__category-item-img-wrap
								img.product__category-item-img(src="img/content/product_1.jpg", alt="")
							h2.product__category-item-title 
								span.bottom-line Кросс Настенный FC/ST
					.product__category-item
						a.product__category-item-link(href="#")
							.product__category-item-img-wrap
								img.product__category-item-img(src="img/content/product_1.jpg", alt="")
							h2.product__category-item-title 
								span.bottom-line Кросс Настенный FC/ST Кросс Настенный FC/ST Кросс Настенный FC/ST
					.product__category-item
						a.product__category-item-link(href="#")
							.product__category-item-img-wrap
								img.product__category-item-img(src="img/content/product_1.jpg", alt="")
							h2.product__category-item-title 
								span.bottom-line Кросс Настенный FC/ST
					.product__category-item
						a.product__category-item-link(href="#")
							.product__category-item-img-wrap
								img.product__category-item-img(src="img/content/product_1.jpg", alt="")
							h2.product__category-item-title 
								span.bottom-line Кросс Настенный FC/ST Кросс Настенный FC/ST Кросс Настенный FC/ST
					.product__category-item
						a.product__category-item-link(href="#")
							.product__category-item-img-wrap
								img.product__category-item-img(src="img/content/product_1.jpg", alt="")
							h2.product__category-item-title 
								span.bottom-line Кросс Настенный FC/ST
	.description__section
		.container-fluid
			.description__block
				h2.subtitle Кросс оптический
				p.description__text Оптические кроссы 19" предназначены для соединения и подключения оптических волокон (неразъемных соединений оптических кабелей, соединения многоволоконного кабеля с одноканальными оптическими шнурами через пигтейлы (оптические розетки).  На нашем сайте представлены кроссы стоечные и кроссы настенные
				p.description__text Кросс стоечный представляет собой пластиковый или металлический короб со специальным покрытием. Покрытие обеспечивает защиту оптического кабеля от внешних воздействий в т.ч. от влаги и пыли. Кроссы стоечные монтируются в специальные оптические стойки или оптические шкафы. Ширина оптических кроссов  19" дюймов, что соответствует размерам стандартного оборудования для их размещения. Современные оптические кроссы  содержат от 2 до 8 кабельных вводов и имеют возможность подключения от 8 до 144 оптических портов.
				p.description__text Использование кросса оптического 19" позволяет эргономично организовать пространство для распределения оптического кабеля, а так же его концевую заделку и последующее обслуживание. Во избежание перегибов и изломов оптического кабеля,  в оптическом кроссе предусмотрены специальные каналы, которые позволяют правильно уложить кабель и предотвратить рассеивание оптической мощности.