extends _layout
block content
	.header__under-block
		.container-fluid
			.phones__block
				.phones__block-inner
					p.phones__block-city._main Москва
					a.phones__block-phone._main(href="tel:+78129981387") +7 (812) 998-13-87
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
				.phones__block-inner
					p.phones__block-city._main Санкт-Петербург
					a.phones__block-phone._main(href="tel:+78129811660") +7 (812) 981-16-60
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
			a.header__logo(href="/")
				img(src="img/logo.png" alt="Site Logo")
			.search__block
				form.search__form(action="#" method="get")
					input.search__input._main(type="text" required placeholder="Поиск на сайте")
					button.search__submit(type="submit")
	.main__section
		.container-fluid
			.main__content._no-sidebar
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Производство
						li.breadcrumbs__item
							span.breadcrumbs__current Намотка
				h1.subtitle._sizeM Намотка
				.static-content
					p 
						strong Процесс намотки оптических патчкордов производиться с помощью отмоточной машины.
					p Отмоточная машина предназначена для отмотки и нарезки кабеля для оптических патчкордов разной длины. Максимально быстро отматывает кабель в нужный радиус намотки для дальнейшей работы со шнуром. Дополнительно необходимо используется с компрессором (нагнетание давления) для резки кабеля. Намотка происходит за счет вращения барабана посредству электрического тока.
					p Намотанные отрезки оптического зипкордового кабеля подвязываются в группы и получают порядковые регистрационные номера заказов производства по технологии Компании «Эмилинк». Далее передаются для дальнейшей конвейерной работы в последующие производственные этапы. Следующий этап – «<a href="#">Зачистка</a>» перед склейкой оптического коннектора.
					div.static-image-wrapper
						a.fancybox(href="img/content/namotka2-big.jpg" rel="rel")
							img(src="img/content/thumb-namotka2-big.jpg", alt="")
						a.fancybox(href="img/content/namotka3-big.jpg" rel="rel")
							img(src="img/content/thumb-namotka3-big.jpg", alt="")
					p
						strong Основные технические данные отмоточной машины:
					div.static-image-wrapper
						a.fancybox(href="img/content/otmotochnaya_mashina.jpg")
							img(src="img/content/otmotochnaya_mashina.jpg", alt="")
					ol
						li Для кабеля: φ0.9 ~ φ6.0mm.
						li Длина отмотки кабеля от 1 до 450 метров.
						li Вес на катушке кабеля меньше чем 35 кг
						li Точность в намотки кабеля: 100M * 3%
						li Скорость намотки 0.1 ~ 1.6M /сек
						li Диапазон регулирования шатания: φ90 ~ φ120mm
						li Электропитание: 220 В переменного тока / 50 Гц
						li Подача воздуха: 0.4 ~ 0.6 MP/CM
						li Напряжение: 450 Вт
						li Температура использования: 0°C ~ 60°C
					p
						strong Условия хранения
					ol
						li Экологический диапазон температуры: -10°C ~ 50°C
						li Относительная влажность: 15% ~ 85%
						li Вибрация: 1.0 г 5 ~ 100 Гц 45 минут
					h3 Немного теории. Характеристики и типы оптического волокна.
					a.toggle-link(href="#") G.652 - Стандартное одномодовое волокно
					div
						p Является наиболее широко используемым одномодовым оптическим волокном в телекоммуникациях.
						p Производители:
						strong CORNING ® SMF-28e+® 
						br
						strong DRAKA ® SMF
						br
						br
						p Одномодовое ступенчатое волокно с несмещенной дисперсией служит основополагающим компонентом оптической телекоммуникационной системы и классифицируется стандартом G.652. Наиболее распространенный вид волокна, оптимизированный для передачи сигнала на длине волны 1310 нм. Верхний предел длины волны L-диапазона составляет 1625 нм. Требования на макроизгиб - радиус оправки 30 мм.
						p Стандарт разделяет волокна на четыре подкатегории A, B, C, D.
						p Волокно G.652. А отвечает требованиям, необходимым для передачи информационных потоков уровня STM 16, - 10 Гбит/с (Ethernet) до 40 км, в соответствии с Рекомендациями G.691 и G.957, а также уровня STM 256, согласно G.691.
						p Волокно G.652.B соответствует требованиям, необходимым для передачи информационных потоков уровня до STM 64 в соответствии с Рекомендациями G.691 и G.692, и уровня STM 256, согласно G.691 и G.959.1.
						p Волокна G.652.C и G.652.D позволяют осуществлять передачу в расширенном диапазоне длин волн 1360-1530 нм и обладают пониженным затуханием на "пике воды" ("пик воды" разделяет окна прозрачности в полосе пропускания одномодовых световодов в диапазонах 1300 нм и 1550 нм). В остальном аналогичны G.652.A и G.652.B.
						p G.652.A/B - эквивалент OS1 (классификация ISO/IEC 11801), G.652.C/D – эквивалент OS2.
						p Использование волокна — G.652 при более высоких скоростях передачи на расстояния более 40 км приводит к несоответствию эксплуатационных качеств со стандартами для одномодового волокна, требует усложнения оконечной аппаратуры.
					a.toggle-link(href="#") G.655 - Одномодовое волокно с ненулевой смещенной дисперсией(NZDSF)
					div
						p Одномодовое волокно с ненулевой смещенной дисперсией NZDSF оптимизировано для передачи не одной длины волны, а сразу нескольких длин волн (мультиплексного волнового сигнала WDM и высокоплотного волнового сигнала DWDM). Волокно Corning защищено двойным акрилатным покрытием СРС, обеспечивающим высокую надежность и работоспособность. Наружный диаметр покрытия равен 245 мкм.
						p Производители:
						strong CORNING ® LEAF ®
						br
						br
						p Волокно с ненулевой смещенной дисперсией (NZDSF) предназначено для применения в магистральных волоконно-оптических линиях и глобальных сетях связи, использующих DWDM-технологии. В этом волокне поддерживается ограниченный коэффициент хроматической дисперсии во всем оптическом диапазоне, используемом в волновом мультиплексировании (WDM). Волокна NZDSF оптимизированы для использования в диапазоне волн от 1530 нм до 1565 нм.
						p Рекомендации разделяют волокна на три подкатегории - А, В, С, которые различаются по значениям коэффициента поляризационной модовой дисперсии, хроматической дисперсии и рабочему диапазону.
						p Оптические волокна категории G.655.А обладают параметрами, обеспечивающими их применение в одноканальных и многоканальных системах с оптическими усилителями (Рекомендации G.691, G.692, G.693) и в оптических транспортных сетях (Рекомендация G.959.1). Рабочие длины волн и дисперсия в волокне данной подкатегории ограничивают мощность входного сигнала и их применение в многоканальных системах.
						p Оптические волокна категории G.655.B аналогичны G.655.А. Но в зависимости от рабочей длины волны и дисперсионных характеристик мощность входного сигнала может быть выше, чем для G.655.А. Требования в части поляризационной модовой дисперсии обеспечивают функционирование систем уровня STM-64 на расстоянии до 400 км.
						p Категория волокон G.655.C подобна G.655.B, однако более строгие требования в части поляризационной модовой дисперсии позволяют использовать на данных оптических волокнах системы уровня STM-256 (Рекомендация G.959.1) или же увеличивать дальность передачи систем STM-64.
					a.toggle-link(href="#") G.657 - Одномодовое волокно с уменьшенными потерями на изгибах с малыми радиусами
					div
						p Оптическое волокно повышенной гибкости версии G.657 находит широкое применение в оптических кабелях для прокладки в сетях многоэтажных домов, офисов и т.д. Волокно G.657.A по своим оптическим характеристикам полностью идентично стандартному волокну G.652.D и в то же время имеет вдвое меньший допустимый радиус при укладке – 15 мм. Волокно G.657.В применяется на ограниченных расстояниях и обладает особо малыми потерями на изгибах.
						p Производители:
						strong CORNING ® ClearCurve ®
						br
						strong DRAKA ® BendBright
						br
						br
						p Одномодовые оптические волокна характеризуются малым уровнем потерь на изгибах, предназначены в первую очередь для сетей FTTH многоквартирных зданий, а их преимущества особенно очевидны на ограниченном пространстве. Работать с волокном стандарта G.657, можно практически как с медножильным кабелем.
						p Две подкатегории: A и B, которые различаются диаметром сердцевины и работоспособностью при изгибах.
						p Для волокон типа G.657.A он составляет от 8,6 до 9,5 мкм, а для волокон типа G.657.B - от 6,3 до 9,5 мкм.
						p Нормы потерь на макроизгибах существенно ужесточены, поскольку этот параметр для G.657 является определяющим:
						ul
							li Десять витков волокна подкатегории G.657.A, намотанного на оправку радиусом 15 мм, не должны увеличивать затухание более чем на 0,25 дБ при длине волны 1550 нм. Один виток того же волокна, намотанного на оправку диаметром 10 мм, при условии, что остальные параметры не изменены, не должен увеличивать затухание более чем на 0,75 дБ.
							li Десять витков подкатегории G.657.B на оправке диаметром 15 мм, не должны увеличивать затухание более чем на 0,03 дБ при длине волны 1550 нм. Один виток на оправке диаметром 10 мм - более чем на 0,1 дБ, один виток на оправке диаметром 7,5 мм - более чем на 0,5 дБ.
						p <i>Рекомендация</i>: ITU G.657.А определяет приоритет совместимости со стандартными волокнами по отношению к функциональности (с ITU-T G.652D).
						p <i>Рекомендация</i>: ITU-T G.657.В делает упор на нечувствительность к изгибам, а не на соответствие требованиям стандартов G.652.
					p
						strong Международной организацией по стандартизации (ISO) и Международной электротехнической комиссией (IEC) был опубликован стандарт ISO/IEC 11801 – «Информационные технологии — структурированные кабельные системы для помещений заказчика»
					p Стандарт задает структуру и требования к реализации универсальной кабельной сети, а также требования к производительности отдельных кабельных линий.
					p В стандарте для линий Gigabit Ethernet оптические каналы различаются по классам (аналогично категориям медных линий). OF300, OF500 и OF2000 поддерживают приложения оптического класса на расстояниях до 300, 500 и 2000 м.
					table
						tbody
							tr
								th(rowspan="2") Класс канала
								th(colspan="2") Затухание ММ-канала (дБ/Км)
								th(colspan="2") Затухание SM-канала (дБ/Км)
							tr
								th 850 нм
								th 1300 нм
								th 1310 нм
								th 1.550 нм
							tr
								td OF300
								td 2.55
								td 1.95
								td 1.80
								td 1.80
							tr
								td OF500
								td 3.25
								td 2.25
								td 2.00
								td 2.00
							tr
								td OF2000
								td 8.50
								td 4.50
								td 3.50
								td 3.50
					p Кроме классов каналов, во втором издании этого стандарта определены три класса ММ-волокна — OM1, OM2 и OM3 — и один класс SM-волокна — OS1. Эти классы дифференцируются по затуханию и коэффициенту широкополосности.
					table
						tbody
						tr
							th(colspan="2" rowspan="2" width="295") Класс волокна
							th Диаметр сердцевины, мкм
							th Коэффициент широкополосности при насыщающем возбуждении, МГц х км
							th Коэффициент широкополосности при лазерном возбуждении, МГц х км
						tr
							th 850 нм
							th 1.300 нм
							th 850 нм
						tr
							td OM 1
							td 50 или 62.5
							td 200
							td 500
							td N/A
						tr
							td OM 2
							td 50
							td 500
							td 500
							td N/A
						tr
							td OM 3
							td 50
							td 1.500
							td 500
							td 2.000
					br
					p
						strong Рекомендации по выбору типа волокна
					p Все линии короче 275 м могут работать по протоколу 1000Base-Sx. Длину до 550 м, можно обеспечить, используя протокол 1000Base-Lx совместно со смещенным вводом светового луча (Mode Conditioning).
					table
						tbody
							tr
								th(rowspan="2") Класс канала
								th Fast Ethernet
								th(colspan="2") GigaBit Ethernet
								th 10 GigaBit Ethernet
							tr
								th 100 Base T
								th 1000 Base SX
								th 1000 Base LX
								th 10GBase-SR/SW
							tr
								td OF300
								td OM1
								td OM2
								td OM1* , OM2*
								td OM3
							tr
								td OF500
								td OM1
								td OM2
								td OM1* , OM2*
								td OS1 (OS2)
							tr
								td OF2000
								td OM1
								td —
								td OM2 Plus, ОМЗ
								td OS1 (OS2)
					p
						i * - Mode Conditioning
					p Многомодовое волокно класса OM4 характеризуется минимальным коэффициентом широкополосности 4700 МГц x км при длине волны 850 нм (по сравнению с 2000 МГц х км волокна типа OM3) и является результатом оптимизации характеристик волокна ОМ3, обеспечивающих возможность достижения скорости передачи данных 10 Гб/с на расстоянии 550 метров. Новый сетевой стандарт IEEE 802.3ab 40 и 100 Гигабит Ethernet отметил, что новый тип многомодового волокна ОМ4 позволяет передать 40 и 100 Гигабит Ethernet на расстоянии до 150 метров. Волокна класса OM4 планируется использовать в будущем с оборудованием 40Gbps и наиболее широко при оборудовании ЦОД.
					a.toggle-link(href="#") OM 1 и OM2 – Стандартные многомодовые волокна с сердцевиной 62,5 и 50 микрон соответсвенно.
					div
						p Кабели, <a href="#">патчкорды</a> и <a href="#">пигтейлы</a> с многомодовыми волокнами типов ОМ1 62,5/125мкм и ОМ2 50/125мкм уже давно применяются в СКС для обеспечения передачи данных с высокой скоростью и на относительно большие расстояния, которые требуется в магистралях. Наиболее важными функциональными параметрами ММ-волокна является затухание (attenuation) и коэффициент широкополосности (bandwidth). Оба параметра определяются для длин волн 850 нм и 1300 нм, на которых работает большая часть активного сетевого оборудования.
						p Производители:
						strong CORNING Infinicor ® 300 / Infinicor ® 300 
						br
						strong CORNING ® ClearCurve ® 
						br
						strong DRAKA ® Стандартный многомодовый
						br
						br
					a.toggle-link(href="#") OM3 – Оптическое многомодовое волокно с сердцевиной 50 микрон "лазер-оптимизированное"
					div
						p Является специально разработанным многомодовым оптическим волокном применяемое для сетей Gigabit и 10 Gigabit Ethernet, существует только с размером сердцевины 50 микрон.
						p Производители:
						strong CORNING ® ClearCurve ®
						br
						strong DRAKA ® BendBright / MaxCap 
						br
						strong OFS ® LaserWave 300 / LaserWave Flex 300
						br
						br
					a.toggle-link(href="#") OM4 – Оптическое многомодовое волокно с сердцевиной 50 микрон "лазер-оптимизированное" нового поколения.
					div
						p Многомодовое волокно типа ОМ4 – в настоящее время полностью соответствует современным стандартам волокон, предусмотренных для центров обработки данных и групп серверов следующего поколения. Оптическое волокно ОМ4 может быть использовано для более протяжённых линий в сетях передачи данных нового поколения с высочайшей производительностью передачи данных. Это волокно представляет собой результат дальнейшей оптимизации характеристик волокна ОМ3, позволяющего придать волокну характеристики, обеспечивающие возможность достижения скорости передачи данных 10 Гб/с на расстоянии 550 метров. Волокна типа OM4 характеризуются повышенной эффективной минимальной модальной полосой пропускания 4700 МГц км при длине волны 850 нм (по сравнению с 2000 МГц км волокна типа OM3).
						p Производители:
						strong CORNING ® ClearCurve ® 
						br
						strong DRAKA ® BendBright / MaxCap550
						br
						br