extends _layout
block content
	.header__under-block
		.container-fluid
			.phones__block
				.phones__block-inner
					p.phones__block-city._main Москва
					a.phones__block-phone._main(href="tel:+78129981387") +7 (812) 998-13-87
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
				.phones__block-inner
					p.phones__block-city._main Санкт-Петербург
					a.phones__block-phone._main(href="tel:+78129811660") +7 (812) 981-16-60
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
			a.header__logo(href="/")
				img(src="img/logo.png" alt="Site Logo")
			.search__block
				form.search__form(action="#" method="get")
					input.search__input._main(type="text" required placeholder="Поиск на сайте")
					button.search__submit(type="submit")
	.main__section
		.container-fluid
			.main__content._no-sidebar
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							span.breadcrumbs__current Производство
				h1.subtitle._sizeM Производс­тво пассивных компоненто­в ВОЛС
				.static-content
					p Компания «Эмилинк» рада, что Вы проявили интерес к деятельности нашей компании. Цель нашей компании - обеспечить своевременные поставки недорогой качественной продукции российского и импортного производства.<br>Наша компания является производственно-торговой структурой, которая занимается производством пассивных оптических компонентов. На сегодняшний день отечественный рынок насыщен недорогой продукцией сомнительного качества. Мы гарантируем 100% качество готовых изделий и кротчайшие сроки производства.
					.green-block Организация конвейерного производства позволяет на порядок увеличить объемы выпускаемой продукции, удовлетворяя при этом заданный уровень качества и конкурентоспособную стоимость готового изделия от производителя.