extends _layout
block content
	.header__under-block
		.container-fluid
			.phones__block
				.phones__block-inner
					p.phones__block-city Москва
					a.phones__block-phone(href="tel:+78129981387") +7 (812) 998-13-87
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
				.phones__block-inner
					p.phones__block-city Санкт-Петербург
					a.phones__block-phone(href="tel:+78129811660") +7 (812) 981-16-60
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
			a.header__logo(href="/")
				img(src="img/logo_sub_page.png" alt="Site Logo")
			.search__block
				form.search__form(action="#" method="get")
					input.search__input(type="text" required placeholder="Поиск на сайте")
					button.search__submit(type="submit")
	.main__section
		.container-fluid
			.main__content._no-sidebar
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Производство
						li.breadcrumbs__item
							span.breadcrumbs__current ПРОИЗВОДСТВО ТЕЛЕКОММУНИКАЦИОННЫХ КОНСТРУКЦИЙ
				h1.subtitle._sizeM ПРОИЗВОДСТВО ТЕЛЕКОММУНИКАЦИОННЫХ КОНСТРУКЦИЙ
				.static-content
					<iframe width="100%" height="360" src="https://www.youtube.com/embed/OORe11C8-eE" frameborder="0" allowfullscreen></iframe>
					br
					br
					p <strong>«ЭМИЛИНК»</strong> – это российская группа компаний производитель волоконно-оптических компонентов и телекоммуникационных металлических конструкций. Мы имеет две производственные площадки. На одной из них разработка и производство 19-дюймовых конструкций, предназначенных для размещения телекоммуникационного оборудования.
					div.static-image-wrapper
						a.fancybox(href="img/content/1_logo_proizvodstvo.jpg" rel="rel")
							img(src="img/content/thumb-1_logo_proizvodstvo.jpg", alt="")
					p В компании «ЭМИЛИНК» внедрена система разработки и производства нестандартной продукции по заказу клиента. До минимума сокращен срок от проектирования до выпуска готовой партии.
					p Для наших клиентов мы выполняем следующие виды работ: 
					ul
						li разработка конструкторской документации на изделие; 
						li доработка, усовершенствование, оптимизация существующих изделий; 
						li чертежные работы: доработка существующих и изготовление новых чертежей по эскизам или готовым деталям и изделиям; 
						li векторизация чертежей и трехмерное моделирование.
					div.static-image-wrapper
						a.fancybox(href="img/content/2_logo_proizvodstvo.jpg" rel="rel")
							img(src="img/content/thumb-2_logo_proizvodstvo.jpg", alt="")
					p Производственные мощности компании ЭМИЛИНК – это комплекс, объединяющий весь технологический цикл от входа металла и до выхода готовых изделий. Основа станочного парка – Координатные и гибочные прессы.
					p Координатно-пробивочные прессы. Прессы данной серии предназначены для операций вырубки, пробивки и формовки с высокой производительностью и точностью на деталях из металлического листа. Пресса оснащены современными системами ЧПУ.
					div.static-image-wrapper
						a.fancybox(href="img/content/3_logo_proizvodstvo.jpg" rel="rel")
							img(src="img/content/thumb-3_logo_proizvodstvo.jpg", alt="")
					p Гибкий подход к каждому клиенту позволяет нашей компании найти общий язык практически с любым клиентом, независимо от того, какая продукция требуется, будь то телекоммуникационный шкаф либо не стандартная телекоммуникационная стойка 50U по индивидуальному заказу.
					p Листогибочные прессы. Эти станки, обеспечивающие гибку металлических листов различного размера и толщины без предварительного нагрева металла. Данные листогибы с ЧПУ, оснащены современными гидравлическими и электронными устройствами, что обеспечивает эффективное выполнение поставленных задач, а именно скоростную и высокоточную гибку листового металла. Листогибы с ЧПУ позволяют контролировать ход гиба на каждом этапе, что, в свою очередь, обеспечивает максимально точный изгиб и значительно снижает возможность брака.
					div.static-image-wrapper
						a.fancybox(href="img/content/4_logo_proizvodstvo.jpg" rel="rel")
							img(src="img/content/thumb-4_logo_proizvodstvo.jpg", alt="")
					p Гильотина используется для нарезания листов металла. Привод с системой гидравлики и закаленные ножи обеспечивают стабильность и качество среза. Жесткая цельносварная рама позволяет достичь высокой точности и надежности при работе. Верхняя балка в конструкции гильотины во время резки движется по дуге, что обеспечивает хорошую точность резки.
					div.static-image-wrapper
						a.fancybox(href="img/content/5_logo_proizvodstvo.jpg" rel="rel")
							img(src="img/content/thumb-5_logo_proizvodstvo.jpg", alt="")
					p Кривошипные прессы. Пресс механический кривошипный предназначен для выполнения операций холодной штамповки листового металла. Может использоваться на одиночном или непрерывном ходу. Подача материала осуществляется как в ручную, так и автоматически.
					div.static-image-wrapper
						a.fancybox(href="img/content/6_logo_proizvodstvo.jpg" rel="rel")
							img(src="img/content/thumb-6_logo_proizvodstvo.jpg", alt="")
					p Технологические линии производства дают возможность выпускать тысячи единиц телекоммуникационных шкафов в месяц.
					div.static-image-wrapper
						a.fancybox(href="img/content/7_logo_proizvodstvo.jpg" rel="rel")
							img(src="img/content/thumb-7_logo_proizvodstvo.jpg", alt="")
					p Если Вы имеете собственный бренд или планируете создать его, то ОЕМ производство на заводах компании «ЭМИЛИНК» станет оптимальным путем развития, так как не потребует от Вас значительных капитальных вложений в оснащение и развитие собственного производства.
					p Детали окрашиваются на современной порошково-полимерной линии. Возможность замены цвета порошковой краски от одного изделия по требованию заказчика.
					div.static-image-wrapper
						a.fancybox(href="img/content/8_logo_proizvodstvo.jpg" rel="rel")
							img(src="img/content/thumb-8_logo_proizvodstvo.jpg", alt="")
					p Порошковая окраска – метод напыления на окрашиваемую поверхность полимерного слоя с защитными и декоративными функциями.
					p Метод порошковой окраски заключается в том, что гранулы полимера в ходе процесса получают электрический заряд и плотно прилегают к противоположно заряженной окрашиваемой поверхности.
					p После нанесения покрытия деталь подвергается полимеризации («запеканию») в специальных камерах.
					p Готовые изделия упаковываются в гофрированные картонные коробки и готовятся к отгрузке Заказчику.
					div.static-image-wrapper
						a.fancybox(href="img/content/9_logo_proizvodstvo.jpg" rel="rel")
							img(src="img/content/thumb-9_logo_proizvodstvo.jpg", alt="")
					p Мы имеем большой складской запас всех ходовых позиций, это оптимизирует работу по небольшим штучным заказам. А так же позволяет не привязываться к кратности минимального заказа и быстро осуществлять отправку, что наиболее важно для торгующих организаций!
					div.static-image-wrapper
						a.fancybox(href="img/content/10_logo_proizvodstvo.jpg" rel="rel")
							img(src="img/content/thumb-10_logo_proizvodstvo.jpg", alt="")
						a.fancybox(href="img/content/11_logo_proizvodstvo.jpg" rel="rel")
							img(src="img/content/thumb-11_logo_proizvodstvo.jpg", alt="")
					p Сотрудничая с нами, Вы всегда будете в курсе того, на каком этапе производства находится Ваша продукция, а значит – сможете планировать и ее сбыт.