extends _layout
block content
	.header__under-block
		.container-fluid
			.phones__block
				.phones__block-inner
					p.phones__block-city Москва
					a.phones__block-phone(href="tel:+78129981387") +7 (812) 998-13-87
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
				.phones__block-inner
					p.phones__block-city Санкт-Петербург
					a.phones__block-phone(href="tel:+78129811660") +7 (812) 981-16-60
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
			a.header__logo(href="/")
				img(src="img/logo_sub_page.png" alt="Site Logo")
			.search__block
				form.search__form(action="#" method="get")
					input.search__input(type="text" required placeholder="Поиск на сайте")
					button.search__submit(type="submit")
	.main__section
		.container-fluid
			.main__content._no-sidebar
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Производство
						li.breadcrumbs__item
							span.breadcrumbs__current Склейка
				h1.subtitle._sizeM Склейка
				.static-content
					div.static-image-wrapper
						a.fancybox(href="img/content/skleyka3-big.jpg" rel="rel")
							img(src="img/content/thumb-skleyka3-big.jpg", alt="")
						a.fancybox(href="img/content/skleyka4-big.jpg" rel="rel")
							img(src="img/content/thumb-skleyka4-big.jpg", alt="")
						a.fancybox(href="img/content/skleyka5-big.jpg" rel="rel")
							img(src="img/content/thumb-skleyka5-big.jpg", alt="")
						a.fancybox(href="img/content/skleyka2-big.jpg" rel="rel")
							img(src="img/content/thumb-skleyka2-big.jpg", alt="")
					p После очистки волокна от всех оболочек по технологии Компании «Эмилинк» производится склейка волокна с оптическим коннектором. Волокно вставляется в оптический коннектор и при помощи высокотемпературного эпоксидного клея который вводиться в коннектор посредству шприца с иглой. Таким образом происходит склейка <a href="#">волоконно-оптического патчкорда</a>.
					p Процедура приготовления клея проста: отмеряем компоненты клея в требуемой пропорции и перемешиваем их до получения однородной массы, после чего помещаем готовый клей в шприц и навинчиваем на шприц иглу.
					p <strong>Установка оптического коннектора</strong> - для исключения попадания загрязнений в зону вклейки зачищенное волокно необходимо очистить безворсовыми салфетками, смоченными в спирте. Аккуратно вставляем в хвостовик коннектора иглу, начинаем вводить клей в отверстие феррула до появления маленькой капельки на конце. Вставляем зачищенное волокно и медленно проталкиваем его в феррул. После этого фиксируем коннектор на оболочке кабеля обжимным инструментом, надеваем хвостовик и устанавливаем корпус коннектора.
					p Основная сборка оптического шнура закончена.
					p Приступаем к сушке клея. Разогреваем высокотемпературную печь для сушки до нужной температуры 100-120 градусов Цельсия и надев защитный колпачок на феррул коннектора, помещаем его в зону нагрева. Затем после пяти минутной сушки происходит скалывание волокна. Эта процедура призвана обеспечить перпендикулярность торца волокна сердцевине (угол в 90°). Оптический скалыватель обеспечивает качество скола с углом отклонения 0,5°. Коннекторы LC для 2 мм кабеля требуют дополнительной работы по усадке термотрубки на хвостовике с помощью Высокотемпературного строительного фена.
					p Наше изделие готово к дальнейшей обработке. Следующий производственный этап <a href="#">полировка</a> коннектора на шлифовальном станке.