extends _layout
block content
	.header__under-block
		.container-fluid
			.phones__block
				.phones__block-inner
					p.phones__block-city Москва
					a.phones__block-phone(href="tel:+78129981387") +7 (812) 998-13-87
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
				.phones__block-inner
					p.phones__block-city Санкт-Петербург
					a.phones__block-phone(href="tel:+78129811660") +7 (812) 981-16-60
					a.phones__block-callback.fancybox(href="#callback") Запрос обратного звонка
			a.header__logo(href="/")
				img(src="img/logo_sub_page.png" alt="Site Logo")
			.search__block
				form.search__form(action="#" method="get")
					input.search__input(type="text" required placeholder="Поиск на сайте")
					button.search__submit(type="submit")
	.main__section
		.container-fluid
			.main__content._no-sidebar
				.breadcrumbs__block
					ul.breadcrumbs__list
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Главная
						li.breadcrumbs__item
							a.breadcrumbs__link(href="#") Производство
						li.breadcrumbs__item
							span.breadcrumbs__current Тестирование
				h1.subtitle._sizeM Тестирование
				.static-content
					p
						strong Основные этапы контроля технологического процесса изготовления патчкордов.
					p Оптический соединитель должен выполнял основную функцию – гарантия многократного соединение-разъединение без существенных изменений своих оптических параметров, он должен иметь точную юстировку и фиксацию сердцевин соединяемых оптических волокон для передачи оптического сигнала из одного волокна в другое с минимальными потерями и обратными отражениями.
					p Оптические соединители полируется после клеевой оконцовки на полировальных станках, чтобы удалить поверхностные дефекты и улучшить оптическое качество вставки. Полировка UPC соединителей производится перпендикулярно к длине прямого волокна, тогда как APC соединители полируются под углом 8° к продольной оси. Во всех этих случаях, вершина феррулы принимает выпуклую геометрию, которая приводит к хорошему физическому контакту соединяемых волокон.
					p <strong>Второй уровень контроля качества</strong> Компания «Эмилинк» проводит на тестовой станции прямых и возвратных потерь. Ниже приведен коридор допустимых значений для выхода готовой продукции в продажу.
					table
						tbody
							tr
								th(rowspan="3") Параметры
								th(rowspan="3") Изм.
								th(colspan="3") FC, SC, LC
								th(colspan="3") ST, MU
								th(colspan="3") MTRJ, MPO
								th(colspan="2") E2000
							tr
								th(colspan="2") SM
								th MM
								th(colspan="2") SM
								th MM
								th(colspan="2") SM
								th MM
								th(colspan="2") SM
							tr
								th UPC
								th APC
								th PC
								th PC
								th UPC
								th PC
								th PC
								th UPC
								th PC
								th PC
								th UPC
							tr
								td Вносимые потери
								td dB
								td ≤0.2
								td ≤0.3
								td ≤0.2
								td ≤0.3
								td ≤0.2
								td ≤0.2
								td ≤0.3
								td ≤0.2
								td ≤0.2
								td ≤0.3
								td ≤0.3
							tr
								td Обратные потери
								td dB
								td ≥50
								td ≥60
								td ≥30
								td ≥45
								td ≥50
								td ≥30
								td ≥45
								td ≥50
								td ≥35
								td ≥55
								td ≥75
					div.static-image-wrapper
						a.fancybox(href="img/content/testirovaniye1-big.jpg" rel="rel")
							img(src="img/content/thumb-testirovaniye1-big.jpg", alt="")
						a.fancybox(href="img/content/testirovaniye2-big.jpg" rel="rel")
							img(src="img/content/thumb-testirovaniye2-big.jpg", alt="")
						a.fancybox(href="img/content/I1-big.jpg" rel="rel")
							img(src="img/content/thumb-I1-big.jpg", alt="")
					p <strong>Третий уровень контроля качества</strong> Компания «Эмилинк» проводит выборочно тестирование из каждой произведенной партии оптических патчкордов и монтажных шнуров на Интерферометре.
					p
						strong Измерительный Автоматический интерферометр DAISI.
					p Интерферометры используются, чтобы измерить геометрию вершины соединителя после полировки. Аппаратные средства включают кинематическое крепление (для измерения феррулы) или держателя рукава (для измерения <a href="#">патчкорда</a>). Оптическая часть аппаратного обеспечения создает изображение торца феррулы видеокамерой с зарядовой связью, коэффициент фактического увеличения торца изделия на экране монитора составляет примерно в х300.
					p
						strong Точность вершины ферулы.
					p Вершина полированного купола не всегда совпадает с сердцевиной волокна. Положение вершины оконцованного волокна показывает боковое смещение между фактическим размещением вершины и идеального размещения непосредственно на ядре волокна. Согласование вершины должно быть меньше чем 50мm; иначе, физический контакт между ядрами волокна соединителей может быть нарушен.
					p
						strong Радиус полировки.
					p Номинально, отполированный торец феррулы будет иметь выпуклую поверхность, обеспечивающий хороший контакт поверхностной области в районе сердцевины волокна. Маленький радиус искривления обеспечивает меньшую область контакта между соединяемыми феррулами. Радиус искривления для UPC соединителя должен быть между 7 и 25mm, тогда как для APC соединителя, диапазон приемлемых радиусов - от 5 до 12mm.
					p
						strong Расчет высоты волокна (Высота-Height или Углубление-Undercut).
					p Эта характеристика показывает величину выступа или углубления волокна от поверхности феррулы и в конечном результате определяет качество оптического контакта соединяемых волокон. На это значение влияют условия полировки и свойства эпоксидного клея.
					p
						strong Коэффициент отражения.
					p Уровень обратных потерь (суммы отражений Френеля и обратного рассеяния Рэлея) на разъемных соединениях начинает играть все большую роль с повышением дальности и скорости передачи в магистральных линиях связи и развитием сетей кабельного телевидения.
					p Для измерения прямых и обратных потерь в Компания «ЭМИЛИНК» применяется стационарное оборудование. Обратные отражения попадают на источник (передатчик) сигнала, накапливаются при многократных стыковках и выступают как помеха по отношению к полезному сигналу. Прямые потери должны быть не более 0,3 дБ. Обратные потери должны быть не более – 50 дБ для UPC и не более -65 дБ для APC.
					p Автоматический интерферометр предназначен для тестирования геометрических параметров торцов оптических разъёмов с ферулами круглого сечения, разъёмов <strong>MTRJ</strong>. Для измерения параметров ферулов многоволоконных разъёмов типов МРО, МТ-Х и др.
					div.static-image-wrapper
						a.fancybox(href="img/content/daisi-4-big.jpg" rel="rel")
							img(src="img/content/thumb-daisi-4-big.jpg", alt="")
						a.fancybox(href="img/content/daisi-5-big.jpg" rel="rel")
							img(src="img/content/thumb-daisi-5-big.jpg", alt="")
						a.fancybox(href="img/content/daisi-2-big.jpg" rel="rel")
							img(src="img/content/thumb-daisi-2-big.jpg", alt="")
						a.fancybox(href="img/content/daisi-3-big.jpg" rel="rel")
							img(src="img/content/thumb-daisi-3-big.jpg", alt="")
					p
						strong Основные характеристики:
					ul
						li Один блок для измерения волокна и MTRJ, PC и APC ферулов, коннекторов и голого волокна.
						li Измерение смещение вершины торца ферула относительно центра волокна (apex);
						li Измерение заглубление торца волокна относительно поверхности торца ферула (protrusion);
						li Измерение радиуса кривизны поверхности торца ферула; Бесконтактное измерение.
						li Быстрый автофокус.
						li Измерение при помощи 1 кнопки.
						li Контролируемое приводом зеркало для автоматической калибровки вершины.
						li Прочный держатель ферулов с функцией автоматического открытия/закрытия.
						li Никаких лишних движущихся частей или юстировочных винтов. 
						li Не чувствителен к вибрациям. Измерения можно проводить, держа устройство в руке.
						li Быстрое и легкое переключение между PC и APC, не требует замены держателя ферулов.
						li Адаптеры под большинство типов коннекторов. Специальный дизайн облегчает установку.
						li Быстрое автоматическое измерение радиуса, смещения вершины, высоты волокна и др. характеристик.
						li Точность и повторяемость результатов.
						li Можно подключить к ПК или ноутбуку, требуется лишь USB2.0 порт.
						li Соответствует международным стандартам по рефлектометрии.
						li Измерение угла скола голого волокна с высокой точностью.
						li Высокое разрешение 2D и 3D поверхности.
						li Отчет об измерении, а также ведение истории отчетов в формате Excel.
						li Измерение неоднородности поверхности волокна и ферула
						li Автоматически проверяют параметры на соответсвие нормативным значениям (Pass / Fail - функция).
					p Имеют функцию автоматической фокусировки оптической системы. Визуализируют увеличенное трёхмерное изображение торца коннектора.
					p
						strong Технические характеристики:
					table
						tbody
							tr
								th Параметры 
								th Точность 
								th Диапазон
							tr
								td Радиус полировки волокна и ферула, мкм
								td +/-0,2
								td  3- бесконечность 
							tr
								td 
									| Смещение вершины
									span *
									| , мкм
								td  +/-1
								td 0-500
							tr
								td
									| Заглубление
									span **
									| , мкм
								td +/-1,5
								td  +/-160
							tr
								td Угол скола, град
								td 0,03
								td 0-12
							tr
								td Время измерения, с
								td
								td  0-2
							tr
								td Увеличение
								td
								td х300
							tr
								td
									strong Длина волны (nm)
								td
								td 633
							tr
								td
									strong Напряжение
								td
								td 12V 25VA
					p * - Смещение вершины поверхности полировки относительно центра волокна.
					p ** - Заглубление/возвышение торца волокна относительно поверхности торца ферулы.
					p Повторяемость значений рассчитывалась из 50 последовательных измерений без взаимодействия с коннектором между измерениями.
					p Воспроизводимость значений рассчитывалась из 50 последовательных измерений путем вращения коннектора в держателе ферулов между измерениями.
					p Итак, после прохождения <strong>Трех уровней контроля качества</strong> Компания «Эмилинк» гарантирует 100% качество каждого произведенного волоконно-оптического коннектора на оптических шнурах, патчкордах и оптических кабельных сборках.
					p Заключительный производственный процесс «<a href="#">Упаковка</a>» готового изделия и нанесения маркировки.