footer.footer
	.container-fluid
		.social__block
			a.social__link(href="#")
				img(src="img/fb.png", alt="")
			a.social__link(href="#")
				img(src="img/vk.png", alt="")
			a.social__link(href="#")
				img(src="img/tw.png", alt="")
		.footer__link-block
			ul.footer__link-list
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line Главная
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line Новости
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line О компании
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line Доставка
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line Продукция
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line Контакты
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line Производство
			ul.footer__link-list
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line КДЗС
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line Патчкорд оптический
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line Оптический кросс
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line Пигтейл оптический
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line Оптический кабель
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line Телекоммуникационный шкаф
				li.footer__link-item
					a.footer__link(href="#") 
						span.bottom-line Оптический сплиттер
		.footer__bottom-block
			p.footer__development Разработка - студия «Максимус»
			p.footer__copyright © 2007-2015, ООО «Эмилинк»
include _script