header.header
	.container-fluid
		.header__user-block
			a.header__user-link._enter.fancybox(href="#enter") войти на сайт
			a.header__user-link._cart(href="#") корзина
		.header__menu
			ul.header__menu-list
				li.header__menu-item
					a.header__menu-link(href="#") О компании
				li.header__menu-item
					a.header__menu-link(href="#") Продукция
				li.header__menu-item
					a.header__menu-link(href="#") Производство
				li.header__menu-item
					a.header__menu-link(href="#") новости
				li.header__menu-item
					a.header__menu-link(href="#") доставка
				li.header__menu-item
					a.header__menu-link(href="#") контакты