header.header
	.container-fluid
		.header__user-block
			a.header__user-link._enter.fancybox(href="#enter") войти на сайт
			a.header__user-link._cart(href="#") корзина
		.header__menu
			ul.header__menu-list
				li.header__menu-item
					a.header__menu-link(href="#") О компании
				li.header__menu-item
					a.header__menu-link(href="#") Продукция
					.header__drop-menu-wrap._index
						ul.header__drop-menu
							li.header__drop-item
								a.header__drop-link(href="#") Каталог продукции
							li.header__drop-item
								a.header__drop-link(href="#") Услуги
							li.header__drop-item
								a.header__drop-link(href="#") Производство
							li.header__drop-item
								a.header__drop-link(href="#") Сертификаты
							li.header__drop-item
								a.header__drop-link(href="#") Прайсы
				li.header__menu-item
					a.header__menu-link(href="#") Производство
				li.header__menu-item
					a.header__menu-link(href="#") новости
					.header__drop-menu-wrap._index
						ul.header__drop-menu
							li.header__drop-item
								a.header__drop-link(href="#") Каталог продукции
							li.header__drop-item
								a.header__drop-link(href="#") Услуги
							li.header__drop-item
								a.header__drop-link(href="#") Производство
							li.header__drop-item
								a.header__drop-link(href="#") Сертификаты
							li.header__drop-item
								a.header__drop-link(href="#") Прайсы
				li.header__menu-item
					a.header__menu-link(href="#") доставка
				li.header__menu-item
					a.header__menu-link(href="#") контакты